body{overflow: hidden;}
.main-container,
.main-container--inner {
  height: 100% !important;
  overflow: hidden;
}
.main-container img.hidden{
  display: none;
}
.voice-wrapper {
  position: relative;
  z-index:0;
}
.voice-wrapper.initial-state{
  height: 85%;
}
.voice-wrapper.initial-state > .sweeper.panel-padding {
  height: 100%;
}
.updating-wrapper {
  z-index: 4;
}

.flash-message {
  margin-left: 16px;
}

.header-sep {width: 100%; float:left}

/* Voice Boxes Area */
.voices-scroller {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.voices-scroller .jspVerticalBar {width: 6px; right: 5px}
.voices-container { margin: 17px auto 0; overflow: visible !important;}
.voices-scroller.with-infosidebar {
  left: 285px;
}

.flash {position: fixed; z-index: 10; width: 100%; border-width: 0 0 3px 0; padding: 14px 0 12px 0; overflow: hidden}
.flash > p {font-size: 15px; font-weight: normal; float:left; margin-left: 20px; padding-right: 18px}
.flash > p > span {font-weight: bold}
.flash > .close-message {float:right; width: 18px; height: 18px; display: block; margin-right: 12px}

/* tags tooltip */

.tags-container {
  display: inline-block;
  position: relative;
  float: left;
  margin: 0 10px 0 0;
}
.tags-container .info-tags__tooltip {
  text-align: left;
  top: 18px;
}
.info-tags__tooltip .tooltip-positioner {left: -15%}
.info-tags__tooltip .tag-tooltip-trigger {height: 10px}
.info-tags__tooltip .media-type-info {
  padding: 0;
}
.info-tags__tooltip .footer {
  padding: 10px 15px;
  border-top: 1px solid #cccccc;
}
.voice-tags {
  min-width: 150px;
  padding: 10px 15px;
}
.voice-tags li {padding: 3px 0; font-size: 12px;}
/*
  < 768
*/
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .voices-scroller.with-infosidebar {
    left: 0;
    width: 100%;
  }
  .flash-message,
  .voices-scroller.with-infosidebar,
  .flash-message.with-infosidebar {
    left: 0;
    right: 0;
  }
  .top-scroll, .bottom-scroll {
    display: none;
  }
}
/*
  < 460
*/
@media only screen and (max-width: 460px), only screen and (max-device-width: 460px) {
  .main-container, .main-container--inner {
    overflow-y: auto;
  }
  .voices-scroller {
    height: auto !important;
  }
}
