@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

@font-face {
  font-family: "GelPen";
  src: url('fonts/gelpen-webfont.eot');
  src: url('fonts/gelpen-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/gelpen-webfont.woff') format('woff'),
       url('fonts/gelpen-webfont.ttf') format('truetype'),
       url('fonts/gelpen-webfont.svg#GelPen') format('svg');
  font-weight: normal;
  font-style: normal;
}


body, p, ol, ul, td, input, button {
  font-family: 'Source Sans Pro', sans-serif;
}

.blog-widget-textarea {
  font-family: Helvetica, Arial, sans-serif;
}

.gelpen,
.media-type-title {
  font-family: "GelPen";
  font-weight: normal;
  letter-spacing:1px;
}

.about-page .press blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.tweet-text {
  font-family: 'Georgia';
  font-style: italic;
}

.voice-info > h4 > .more-button {font-weight: 100}
.media-type-info > a {font-weight: 800}
.media-type-info > em {font-style: normal}
.cite-text {font-weight: 100}
.cite-author {font-style: normal}
.tweet-author {font-style: normal}
.infoboxes-wall .infobox .chart-data {font-weight: 600}

/* font-weight: normal */
.news-ticker > li .voice-time,
.voice-description > h2 {font-weight: normal}

/* font-weight: bold */
.bold,
.slider-values,
.voices-count > span,
.voice-count-tooltip,
.voice-description > .time-ago,
.news-ticker > li > a {
  font-weight: bold;
}

/* semi-bold */
.create-voice .cv-button,
.home-cover__title,
.voice-box > .voice-cont > h3 {
  font-weight: 600;
}
