/* @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600); */

/* 300 */
@font-face {
    font-family: 'source_sans_prolight';
    src: url('/stylesheets/fonts/sourcesanspro-light-webfont.eot');
    src: url('/stylesheets/fonts/sourcesanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
         url('/stylesheets/fonts/sourcesanspro-light-webfont.woff') format('woff'),
         url('/stylesheets/fonts/sourcesanspro-light-webfont.ttf') format('truetype'),
         url('/stylesheets/fonts/sourcesanspro-light-webfont.svg#source_sans_prolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 400 */
@font-face {
    font-family: 'source_sans_proregular';
    src: url('/stylesheets/fonts/sourcesanspro-regular-webfont.eot');
    src: url('/stylesheets/fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('/stylesheets/fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('/stylesheets/fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('/stylesheets/fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* 600 */
@font-face {
    font-family: 'source_sans_prosemibold';
    src: url('/stylesheets/fonts/sourcesanspro-semibold-webfont.eot');
    src: url('/stylesheets/fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/stylesheets/fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('/stylesheets/fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('/stylesheets/fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('/stylesheets/fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "GelPen";
  src: url('fonts/gelpen-webfont.eot');
  src: url('fonts/gelpen-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/gelpen-webfont.woff') format('woff'),
       url('fonts/gelpen-webfont.ttf') format('truetype'),
       url('fonts/gelpen-webfont.svg#GelPen') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, p, ol, ul, td, input, button {
  font-family: 'source_sans_proregular', sans-serif;
  font-weight: normal;
}

.blog-widget-textarea {
  font-family: Helvetica, Arial, sans-serif;
}

.gelpen,
.media-type-title {
  font-family: "GelPen";
  font-weight: normal;
  letter-spacing:1px;
}

.about-page .press blockquote {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.tweet-text {
  font-family: 'Georgia';
  font-style: italic;
}

.voice-info > h4 > .more-button {font-weight: 100}
.media-type-info > a {font-weight: 800}
.media-type-info > em {font-style: normal}
.cite-text {font-weight: 100}
.cite-author {font-style: normal}
.tweet-author {font-style: normal}
.infoboxes-wall .infobox .chart-data {font-weight: 600}

/* font-weight: normal */
.news-ticker > li .voice-time,
.voice-description > h2 {font-weight: normal}

/* font-weight: bold */
.bold,
.slider-values,
.voices-count > span,
.voice-count-tooltip,
.voice-description > .time-ago,
.news-ticker > li > a {
  font-weight: bold;
}

/* light */
.cv-timeline-element__title,
.voice-content-type-wrapper .time-ago,
.cv-backstory-overlay__info-date {
  font-family: 'source_sans_prolight', sans-serif;
  font-weight: normal;
}

/* semi-bold */
h1, h2, h3, h4, h5,
.create-voice .cv-button,
.home-cover__title,
.voice-box > .voice-cont > h3,
.cv-timeline-fixed-buttons .cv-button--small,
.cv-timeline-month__label--upper,
.cv-timeline-view-button,
.voice-unmoderated .flag-div a,
.post > .post-button > input[type='submit'],
#current_date .year-label,
.cv-timeline-breadcrum__point-item,
.cv-backstory-overlay__info-title,
.cv-overlay-title,
.cv-media-gallery .info-wrapper,
.blog-widget-subtitle,
.post-media-tooltip-header  .title,
.cv-tooltip .tooltip-label,
.video-post-media-tooltip .cv-tooltip-inner,
.link-post-media-tooltip .normal .cv-tooltip-inner,
.moderator-mode-tooltip .title,
.voice-header > .voice-info h3,
.voice-footer a,
.widget-modal .close,
.notification-bar .close-message,
.tweets-sidebar .close,
.top-left-navigation.active .menu-item.active:after,
.menu-item .menu-link {
  font-family: 'source_sans_prosemibold', sans-serif;
  font-weight: normal;
}
