@font-face {
	font-family: 'icomoon';
	src:url('/stylesheets/fonts/icomoon.eot?e0vevh');
	src:url('/stylesheets/fonts/icomoon.eot?#iefixe0vevh') format('embedded-opentype'),
		url('/stylesheets/fonts/icomoon.woff?e0vevh') format('woff'),
		url('/stylesheets/fonts/icomoon.ttf?e0vevh') format('truetype'),
		url('/stylesheets/fonts/icomoon.svg?e0vevh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-back:before {
	content: "\e600";
}
.icon-arrow-left-light:before {
	content: "\e601";
}
.icon-arrow-left-small:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-right-light:before {
	content: "\e604";
}
.icon-arrow-right-small:before {
	content: "\e605";
}
.icon-arrow-right:before {
	content: "\e606";
}
.icon-backstory:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-flag:before {
	content: "\e609";
}
.icon-gear:before {
	content: "\e60a";
}
.icon-image:before {
	content: "\e60b";
}
.icon-infographics:before {
	content: "\e60c";
}
.icon-link:before {
	content: "\e60d";
}
.icon-map-pin:before {
	content: "\e60e";
}
.icon-play:before {
	content: "\e60f";
}
.icon-rss:before {
	content: "\e610";
}
.icon-search:before {
	content: "\e611";
}
.icon-star:before {
	content: "\e612";
}
.icon-thumbs-down:before {
	content: "\e613";
}
.icon-thumbs-up:before {
	content: "\e614";
}
.icon-twitter:before {
	content: "\e615";
}
.icon-video:before {
	content: "\e616";
}
.icon-voice:before {
	content: "\e617";
}
.icon-x:before {
	content: "\e618";
}
