* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {background: #d9d9d9 url('/images/v3/about/noise.png') 0 0 repeat}

.opacity--40 {opacity: .4}

.scroll-primary {
  -webkit-overflow-scrolling: touch;
  scrollbar-base-color: #999;
  scrollbar-3dlight-color: #999;
  scrollbar-highlight-color: #999;
  scrollbar-track-color: #c0c0c0;
  scrollbar-arrow-color: #666;
  scrollbar-shadow-color: #999;
}
.not-touch .scroll-primary::-webkit-scrollbar {width: 6px; height: 6px}
.not-touch .scroll-primary::-webkit-scrollbar-track {background-color: transparent;}
.not-touch .scroll-primary::-webkit-scrollbar-track-piece {background-color: transparent;}
.not-touch .scroll-primary::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-border-radius: 3px;
}

.scroll-secondary {
  -webkit-overflow-scrolling: touch;
  scrollbar-base-color: #888;
  scrollbar-3dlight-color: #888;
  scrollbar-highlight-color: #888;
  scrollbar-track-color: #595959;
  scrollbar-arrow-color: #333;
  scrollbar-shadow-color: #888;
}
.not-touch .scroll-secondary::-webkit-scrollbar {width: 6px; height: 6px}
.not-touch .scroll-secondary::-webkit-scrollbar-track {background-color: transparent;}
.not-touch .scroll-secondary::-webkit-scrollbar-track-piece {background-color: transparent;}
.not-touch .scroll-secondary::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 3px;
}

.js-scroll-light .jspVerticalBar {
  width: 6px;
  right: 3px;
}

.js-scroll-light .jspTrack {
  background: none;
}

.js-scroll-light .jspDrag {
  background: rgba(0,0,0,0.2);
  box-shadow: none;
}

/*
  NEW COLOR CLASSES, self-explanatory
*/
/******** backgrounds **********/
.yellow ._skin-bg {
    background: #EBC91C;
}
.orange ._skin-bg {
    background: #EC9415;
}
.blue ._skin-bg {
    background: #4DB5FF;
}
.red ._skin-bg {
    background: #F10F2A;
}
.green ._skin-bg {
    background: #50B347;
}
/******** font-color **********/
.yellow ._skin-font {
    color: #EBC91C;
}
.orange ._skin-font {
    color: #EC9415;
}
.blue ._skin-font {
    color: #4DB5FF;
}
.red ._skin-font {
    color: #F10F2A;
}
.green ._skin-font {
    color: #50B347;
}

/* main sections  */
.main-container {
  -webkit-transition: margin-left 300ms linear, -webkit-transform 300ms linear;
      -ms-transition: margin-left 300ms linear, -ms-transform 300ms linear;
          transition: margin-left 300ms linear, transform 300ms linear;
  will-change: margin-left, transform;
}

.mobile-logo-header {
  background-color: #1A1A1A;
  text-align: center;
}
a.mobile-menu__list-item-anchor {
  color: #fff;
  background-color: #222;
  border-bottom-style: solid;
  border-bottom-color: #333;
  text-decoration: none;
}
a.mobile-menu__list-item-anchor:hover {
  background-color: #333;
  color: #fff;
}

hgroup {background-color: #121212; border-top-style: solid; border-top-color: #595959; box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset}
.gaza-header {background: url('/images/bg/gaza-header.png') no-repeat}

.flag-tip .media-type-info > .flag-tooltip {color: #404040;}

.media-type-title,
.grab-blog-widget {color: #404040}

.media-type-subtitle {color: #404040; border-top-style: dotted; border-top-color: #aaaaaa}

.media-type-link {color: #50b347}

.blog-widget-textarea {
  border-radius: 4px;
}

.header-sponsor {background: url('/images/bg/sponsor_header.png') top center no-repeat}
.header-sponsor > span {font-size: 12px; color: #fff;}
.side-tab {background: url('/images/side-tab.png') no-repeat}
.jspScrollable > .jspContainer > .jspPane > .voice-all > li a {color: #4c4c4c}

.clear-search {background: url('/images/bg/sprites/clear-search.png') left top no-repeat}
.clear-search:hover {background-position: left bottom}

.invisible {
  opacity: 0;
  cursor: text;
}

.overlay-mask {background: rgba(0,0,0,0.8)}


/* Messages Styles */
.flash-message {
  background: #fff;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.05);
  -webkit-transition: left 300ms linear;
  transition: left 300ms linear;
}
.message {
  border-bottom: 1px solid rgba(178, 134, 0, 0.75);
  background-color: #ffedb8;
  background-image: -webkit-linear-gradient(top, #fdefc4, #fce7ac);
  background-image:         linear-gradient(to bottom, #fdefc4, #fce7ac);
}
.message p a {
  text-decoration: underline;
}
.message p a:hover {
  color: #bf8f00;
}
.close-message {
  cursor: pointer;
  color: #bf8f00;
}
.message,
.message p a,
.close-message:hover {
  color: #806000;
}

/* loading wrapper MEDIAFEED */
.image-bg-patter {background: transparent url('/images/bg/load-pattern.png') repeat;}
.spinner {
  background: #a5a5a5 url('/images/bg/more-noise.png') 100% 100% repeat-x;
  color: #000000;
  text-shadow: 0 1px 0 #cacaca;
  border-color: #505759;
     -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000
}

.corner-all2 {
  border-radius: 2px
}

/* Temp */
.install {text-indent: -999em; background: url('/images/bg/sprites/crowdvoice_about.png') no-repeat 0 0}
.install:hover {background-position: 0 -18px}
.fm-admin-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.fm-admin-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.crowdvoice-custom-slogan {
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    font-family: Helvetica;
    color: #BFBFBF;
    text-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
}
/*
    Viewport navigation
*/
#sidebar-toggler {
    border-right: 1px solid #6f6f6f;
}
.menu-item:hover:not(.active) {
  background-color: #262626;
}
.menu-item.idle:hover {
  background-color: transparent;
}
#sidebar-toggler:hover {
    background-color: #333333;
}

.menu-item .menu-link {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 2px 2px 0 0;
  box-shadow: none;
}
.menu-item .menu-link:active {
  box-shadow: none;
}

.top-left-navigation .menu-item.active .menu-link {
  background-color: #f2f2f2;
  color: #4c4c4c;
}

.menu-item .menu-lines,
.menu-lines:after,
.menu-lines:before {
  background: none repeat scroll 0 0 #CCCCCC;
}
#sidebar-toggler.menu-item.active {
  background-color: #000000;
}
#sidebar-toggler.menu-item.active:after {
  background-color: #595959;
}
.menu-item.active:hover .menu-lines,
.menu-item.active:hover .menu-lines:before,
.menu-item.active:hover .menu-lines:after {
  background-color: #fff;
}
