* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {background: #d9d9d9 url('/images/v3/about/noise.png') 0 0 repeat}

.opacity--40 {opacity: .4}

.scroll-primary {
  -webkit-overflow-scrolling: touch;
  scrollbar-base-color: #999;
  scrollbar-3dlight-color: #999;
  scrollbar-highlight-color: #999;
  scrollbar-track-color: #c0c0c0;
  scrollbar-arrow-color: #666;
  scrollbar-shadow-color: #999;
}
.not-touch .scroll-primary::-webkit-scrollbar {width: 6px; height: }
.not-touch .scroll-primary::-webkit-scrollbar-track {background-color: transparent;}
.not-touch .scroll-primary::-webkit-scrollbar-track-piece {background-color: transparent;}
.not-touch .scroll-primary::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.28);
  -webkit-border-radius: 3px;
}

.scroll-secondary {
  -webkit-overflow-scrolling: touch;
  scrollbar-base-color: #888;
  scrollbar-3dlight-color: #888;
  scrollbar-highlight-color: #888;
  scrollbar-track-color: #595959;
  scrollbar-arrow-color: #333;
  scrollbar-shadow-color: #888;
}
.not-touch .scroll-secondary::-webkit-scrollbar {width: 6px}
.not-touch .scroll-secondary::-webkit-scrollbar-track {background-color: transparent;}
.not-touch .scroll-secondary::-webkit-scrollbar-track-piece {background-color: transparent;}
.not-touch .scroll-secondary::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 3px;
}

.icon--14 {background: transparent url('/images/sprite-voice-types.png') 0 0 no-repeat}

.icon--backstory {background-position: 0 0}
  .touch .icon--backstory {display: none}
  .green .icon--backstory:hover   {background-position: 0 -14px}
  .green.sidebar-scroller__list-item .icon--backstory:hover   {background-position: 0 -14px}
  .blue .icon--backstory:hover    {background-position: 0 -28px}
  .blue.sidebar-scroller__list-item .icon--backstory:hover    {background-position: 0 -28px}
  .yellow .icon--backstory:hover  {background-position: 0 -42px}
  .yellow.sidebar-scroller__list-item .icon--backstory:hover  {background-position: 0 -42px}
  .red .icon--backstory:hover     {background-position: 0 -56px}
  .red.sidebar-scroller__list-item .icon--backstory:hover     {background-position: 0 -56px}
  .orange .icon--backstory:hover  {background-position: 0 -70px}
  .orange.sidebar-scroller__list-item .icon--backstory:hover  {background-position: 0 -70px}
.icon--infographic  {background-position: -14px 0}
  .green .icon--infographic:hover   {background-position: -14px -14px}
  .green.sidebar-scroller__list-item .icon--infographic:hover   {background-position: -14px -14px}
  .blue .icon--infographic:hover    {background-position: -14px -28px}
  .blue.sidebar-scroller__list-item .icon--infographic:hover    {background-position: -14px -28px}
  .yellow .icon--infographic:hover  {background-position: -14px -42px}
  .yellow.sidebar-scroller__list-item .icon--infographic:hover  {background-position: -14px -42px}
  .red .icon--infographic:hover     {background-position: -14px -56px}
  .red.sidebar-scroller__list-item .icon--infographic:hover     {background-position: -14px -56px}
  .orange .icon--infographic:hover  {background-position: -14px -70px}
  .orange.sidebar-scroller__list-item .icon--infographic:hover  {background-position: -14px -70px}

.icon--stats    {background-position: -28px 0}
.icon--star     {background-position: -42px 0}

/*
  NEW COLOR CLASSES, self-explanatory
*/
/******** backgrounds **********/
.yellow ._skin-bg {
    background: #EBC91C;
}
.orange ._skin-bg {
    background: #EC9415;
}
.blue ._skin-bg {
    background: #4DB5FF;
}
.red ._skin-bg {
    background: #F10F2A;
}
.green ._skin-bg {
    background: #50B347;
}
/******** font-color **********/
.yellow ._skin-font {
    color: #EBC91C;
}
.orange ._skin-font {
    color: #EC9415;
}
.blue ._skin-font {
    color: #4DB5FF;
}
.red ._skin-font {
    color: #F10F2A;
}
.green ._skin-font {
    color: #50B347;
}

/* main sections  */
.main-container {
  -webkit-transition: margin-left 300ms linear, -webkit-transform 300ms linear;
      -ms-transition: margin-left 300ms linear, -ms-transform 300ms linear;
          transition: margin-left 300ms linear, transform 300ms linear;
}
  .main-container--disable-overlay {
    background: rgba(255, 255, 255, .5);
  }

.mobile-logo-header {
  background-color: #1A1A1A;
  text-align: center;
}
a.mobile-menu__list-item-anchor {
  color: #fff;
  background-color: #222;
  border-bottom-style: solid;
  border-bottom-color: #333;
  text-decoration: none;
}
a.mobile-menu__list-item-anchor:hover {
  background-color: #333;
  color: #fff;
}

hgroup {background-color: #121212; border-top-style: solid; border-top-color: #595959; box-shadow: -1px 0 0 rgba(255, 255, 255, 0.1) inset}
.gaza-header {background: url('/images/bg/gaza-header.png') no-repeat}
.info-tool-link {
  background-image: url('/images/bg/sprites/voice_info_tools.png');
  background-repeat: no-repeat;
  border-style: solid;
  border-color: rgba(255, 255, 255, .5);
}

body.green .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools.png'); background-repeat: no-repeat}
body.orange .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_orange.png'); background-repeat: no-repeat}
body.yellow .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_yellow.png'); background-repeat: no-repeat}
body.red .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_red.png'); background-repeat: no-repeat}
body.blue .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_blue.png'); background-repeat: no-repeat}

body.green .voice-headline-holder .info-tool-link,
body.green .no-caption .info-tool-link,
body.green .infobox-header .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_dark.png'); background-repeat: no-repeat}

body.orange .voice-headline-holder .info-tool-link,
body.orange .no-caption .info-tool-link,
body.orange .infobox-header .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_dark.png'); background-repeat: no-repeat}

body.yellow .voice-headline-holder .info-tool-link,
body.yellow .no-caption .info-tool-link,
body.yellow .infobox-header .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_dark.png'); background-repeat: no-repeat}

body.red .voice-headline-holder .info-tool-link,
body.red .no-caption .info-tool-link,
body.red .infobox-header .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_dark.png'); background-repeat: no-repeat}

body.blue .voice-headline-holder .info-tool-link,
body.blue .no-caption .info-tool-link,
body.blue .infobox-header .info-tool-link {background-image: url('/images/bg/sprites/voice_info_tools_dark.png'); background-repeat: no-repeat}

.map-container {
  background-color: rgb(42, 43, 44);
}

.maps > .info-tool-link {background-position: 0 0}
.maps > .info-tool-link:hover {background-position: 0 -25px}
.widget > .info-tool-link {background-position: -25px 0}
.widget > .info-tool-link:hover {background-position: -25px -25px}
.rss > .info-tool-link {background-position: -50px 0}
.rss > .info-tool-link:hover {background-position: -50px -25px}
.twitter > .info-tool-link {background-position: -75px 0}
.twitter > .info-tool-link:hover {background-position: -75px -25px}



body.green .info-tool-link:hover {background-image: url('/images/bg/sprites/voice_info_tools.png'); background-repeat: no-repeat}
body.orange .info-tool-link:hover {background-image: url('/images/bg/sprites/voice_info_tools_orange.png'); background-repeat: no-repeat}
body.yellow .info-tool-link:hover {background-image: url('/images/bg/sprites/voice_info_tools_yellow.png'); background-repeat: no-repeat}
body.red .info-tool-link:hover {background-image: url('/images/bg/sprites/voice_info_tools_red.png'); background-repeat: no-repeat}
body.blue .info-tool-link:hover {background-image: url('/images/bg/sprites/voice_info_tools_blue.png'); background-repeat: no-repeat}

.flag-tip > .tooltip-positioner > .tooltip-arrow > span {background: url('/images/bg/arrow_tooltip_down.png') no-repeat 0 0}
.flag-tip > .tooltip-positioner > .media-type-info > .flag-tooltip {color: #404040;}

.media-type-title,
.grab-blog-widget {color: #404040}

.media-type-subtitle,
.blog-widget-subtitle {color: #404040; border-top-style: dotted; border-top-color: #aaaaaa}

.blog-widget-subtitle.no-border {border-top-style: none; padding: 20px 7px 17px}
.media-type-link {color: #50b347}

body.green .media-type-link {color: #50b347}
body.red .media-type-link {color: #ed0c22}
body.yellow .media-type-link {color: #e5b917}
body.orange .media-type-link {color: #e67611}
body.blue .media-type-link {color: #2378ab}

.media-type-notice {color: #999999}
.blog-widget-textarea {
  border-color: #9f9f9f;
  border-style: solid;
  border-radius: 5px;
}

.image-tip textarea {
  border-color: #9f9f9f;
  border-style: solid;
  border-radius: 5px;
}
.image-tip input {
  border-color: #9f9f9f;
  border-style: solid;
  border-radius: 5px;
}

.header-sponsor {background: url('/images/bg/sponsor_header.png') top center no-repeat}
.header-sponsor > span {font-size: 12px; color: #fff;}
.side-tab {background: url('/images/side-tab.png') no-repeat}
.jspScrollable > .jspContainer > .jspPane > .voice-all > li a {color: #4c4c4c}

.clear-search {background: url('/images/bg/sprites/clear-search.png') left top no-repeat}
.clear-search:hover {background-position: left bottom}

.invisible {
  opacity: 0;
  cursor: text;
}

.overlay-mask {background: rgba(0,0,0,0.8)}


/* Messages Styles */

.flash-message {background: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.28);
  -webkit-transition: left 300ms linear;
  transition: left 300ms linear;
}
.message {
  background: #f2fbff;
  border-color: transparent #66CCFF #66CCFF #66CCFF;
  border-style: solid;
  border-radius: 0 0 4px 4px;
  background-image: -moz-linear-gradient(top, #f5fcff, #ecf9ff);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f5fcff), color-stop(1.0, #ecf9ff));
  background-image: -webkit-linear-gradient(#f5fcff, #ecf9ff);
  background-image: linear-gradient(top, #f5fcff, #ecf9ff);
}
.message p {color: #454a4c}
.message p a {color: #454a4c}
.close-message {
  background-image: url('/images/icons/sidebar-sprite.png');
  background-position: -173px -2px;
  background-repeat: no-repeat;
}
.close-message:hover {
  background-position: -173px -24px;
}

/* loading wrapper MEDIAFEED */
.updating-wrapper {
  background-color: rgb(6, 6, 6);
  background-color: rgba(0, 0, 0, .6);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
       -o-background-size: 100% auto;
          background-size: 100% auto
}
.image-bg-patter {background: transparent url('/images/bg/load-pattern.png') repeat;}
.spinner {
  background: #a5a5a5 url('/images/bg/more-noise.png') 100% 100% repeat-x;
  color: #000000;
  text-shadow: 0 1px 0 #cacaca;
  border-color: #505759;
     -moz-box-shadow: 0 0 10px #000000;
  -webkit-box-shadow: 0 0 10px #000000;
          box-shadow: 0 0 10px #000000
}

.corner-all2 {
  border-radius: 2px
}

/* Temp */
.install {text-indent: -999em; background: url('/images/bg/sprites/crowdvoice_about.png') no-repeat 0 0}
.install:hover {background-position: 0 -18px}
.fm-admin-overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.fm-admin-overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
}
.crowdvoice-custom-slogan {
    text-align: center;
    font-size: 20px;
    font-weight:bold;
    font-family: Helvetica;
    color: #BFBFBF;
    text-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
}
/*
    Viewport navigation
*/
#sidebar-toggler {
    border-right: 1px solid #6f6f6f;
}
.menu-item:hover:not(.active) {
  background-color: #262626;
}
.menu-item.idle:hover {
  background-color: transparent;
}
#sidebar-toggler:hover {
    background-color: #333333;
}

.menu-item .menu-link {
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px 2px 0 0;
}

.top-left-navigation .menu-item.active .menu-link {
  background-color: #f2f2f2;
  color: #4c4c4c;
}

.menu-item .menu-lines,
.menu-lines:after,
.menu-lines:before {
  background: none repeat scroll 0 0 #CCCCCC;
}
#sidebar-toggler.menu-item.active {
  background-color: #000000;
}
#sidebar-toggler.menu-item.active:after {
  background-color: #595959;
}
.menu-item.active:hover .menu-lines,
.menu-item.active:hover .menu-lines:before,
.menu-item.active:hover .menu-lines:after {
  background-color: #fff;
}
.nav-bar .info-tool-link {
    border-radius: 2px;
}
.nav-bar .info-tool-link:hover {
    background-color: #292929;
}
.nav-bar .maps .info-tool-link {
    background-position: -24px 5px;
}
.nav-bar .widget .info-tool-link {
    background-position: -54px 5px;
}
.nav-bar .rss .info-tool-link {
    background-position: -85px 5px;
}
.nav-bar .maps .info-tool-link:hover {
    background-position: -24px -24px;
}
.nav-bar .widget .info-tool-link:hover {
    background-position: -54px -24px;
}
.nav-bar .rss .info-tool-link:hover {
    background-position: -85px -24px;
}
/*
    Info panel
*/
.more-button > span,
.more-button > span:hover {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    font-size: 12px;
    text-decoration: underline;
}
/*
    Color overrides
*/
body.yellow .nav-bar .info-tool-link,
body.orange .nav-bar .info-tool-link,
body.blue .nav-bar .info-tool-link,
body.red .nav-bar .info-tool-link,
body.green .nav-bar .info-tool-link {
    background-image: url("/images/icons/sidebar-sprite.png");
}
.yellow .more-button > span:hover,
.orange .more-button > span:hover,
.blue .more-button > span:hover,
.red .more-button > span:hover,
.green .more-button > span:hover {
  background: none;
  border: none;
  text-decoration: underline;
}

/************ yellow ************/
.yellow .menu-item .menu-link {
    background: #EBC91C;
}
.yellow .more-button:hover {
    background: none;
}
.yellow .more-button > span {
    color: #EBC91C;
}

/************ orange ************/
.orange .menu-item .menu-link {
    background: #EC9415;
}
.orange .more-button:hover {
    background: none;
}
.orange .more-button > span {
    color: #EC9415;
}

/************ blue ************/
.blue .menu-item .menu-link {
    background: #4DB5FF;
}
.blue .more-button:hover {
    background: none;
}
.blue .more-button > span {
    color: #4DB5FF;
}

/************ red ************/
.red .menu-item .menu-link {
    background: #F10F2A;
}
.red .more-button:hover {
    background: none;
}
.red .more-button > span {
    color: #F10F2A;
}

/************ green ************/
.green .menu-item .menu-link {
    background: #50B347;
}
.green .more-button:hover {
    background: none;
}
.green .more-button > span {
    color: #50B347;
}
