.voice-content::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
}

/* HEADER
 * -----------------------------*/
.voice-header > .voice-info {
  color: #fff;
  background-size: 100%;
  background-position: 50%;
}

.voice-header > .voice-info::before {
  background-color: rgba(0,0,0,0.7);
}

.voice-header > .voice-info::after {
  content: '';
  position: absolute; top: 0; right: 0;  left: 0;
  height: 3px;
}
.green .voice-header > .voice-info::after {background-color: #50b347;}
.blue .voice-header > .voice-info::after {background-color: #4db5ff;}
.red .voice-header > .voice-info::after {background-color: #f10f2a;}
.yellow .voice-header > .voice-info::after {background-color: #ebc91c;}
.orange .voice-header > .voice-info::after {background-color: #ec9415;}

.voice-header > .voice-info h3 {
  font-size: 16px;
  line-height: 22px;
  max-height: 60px;
}

/* CONTENT -----------------------------------*/
.voice-content {
  background-color: #d9d9d9;
}

.voice-content ul.voice-posts {
  padding: 14px;
}

.voice-content ul.voice-posts li {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  margin-bottom: 7px;
  transition: box-shadow 200ms;
}
.green .voice-content ul.voice-posts li:hover {box-shadow: inset 0 0 0 1px #50b347, 0 0 7px rgba(80, 179, 71, .7);}
.blue .voice-content ul.voice-posts li:hover {box-shadow: inset 0 0 0 1px #4db5ff, 0 0 7px rgba(77, 181, 255, .7);}
.red .voice-content ul.voice-posts li:hover {box-shadow: inset 0 0 0 1px #f10f2a, 0 0 7px rgba(241, 15, 42, .7);}
.yellow .voice-content ul.voice-posts li:hover {box-shadow: inset 0 0 0 1px #ebc91c, 0 0 7px rgba(235, 201, 28, .7);}
.orange .voice-content ul.voice-posts li:hover {box-shadow: inset 0 0 0 1px #ec9415, 0 0 7px rgba(236, 148, 21, .7);}

.voice-content > ul.voice-posts li > a {
  padding: 0;
  color: #404040;
}

.voice-content > ul.voice-posts .voice-thumb {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.voice-thumb img {
  width: 80px;
  height: 80px;
}

.voice-content ul.voice-posts .title {
  font-size: 13px;
  line-height: 20px;
  margin: 6px 20px 10px 95px;
}

.voice-content ul.voice-posts .description {
  font-size: 13px;
  line-height: 20px;
  margin: 6px 20px 10px 95px;
}

.voice-footer {
  border-color: #ccc;
}
.green .voice-footer a {color: #50b347;}
.blue .voice-footer a {color: #4db5ff;}
.red .voice-footer a {color: #f10f2a;}
.yellow .voice-footer a {color: #ebc91c;}
.orange .voice-footer a {color: #ec9415;}

@media all and (max-width: 250px) {
  .voice-header > .voice-nav ul.voice-social li.follow-button-wrapper {
    display: none;
  }
}

/* RTL */
.widget-rtl .voice-content ul.voice-posts .title,
.widget-rtl .voice-content ul.voice-posts .description {
  margin: 6px 95px 10px 20px;
}
.widget-rtl .voice-content > ul.voice-posts .voice-thumb {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
