.voice-content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .4);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.voice-header .voice-info {
  color: #999999;
  background-size: 100% auto;
  background-position: 50% 10%;
}

.voice-header > .voice-info::before {
  background-color: rgba(0,0,0,.45);
}

.voice-header .voice-info h3 {
  font-size: 15px;
  max-height: 50px;
  font-weight: normal;
}

.widget-voice .voice-content {
  border-color: #1a1a1a;
  background-color: #474747;
}

.voice-content > ul.voice-posts li {
  border-bottom: 1px solid #333333;
  transition: background-color 200ms;
}

.voice-content > ul.voice-posts li:hover {
  background-color: #545454;
}

.voice-content > ul.voice-posts li > a {
  padding: 14px;
  color: #d9d9d9;
}

.voice-thumb img {
  width: 36px;
  height: 36px;
}

.voice-content ul.voice-posts .title {
  font-size: 14px;
  margin: 0 0 0 50px;
}

.voice-footer {
  background-color: #666666;
  border-color: #333;
}

.voice-footer a {
  color: #fff;
}

.voice-footer a span {
  border-color: transparent #b3b3b3;
}

.widget-rtl .voice-content ul.voice-posts .title {
  margin: 0 50px 0 0;
}

/*
.widget-voice.small-list ul.voice-posts {height: 220px}
.widget-voice.medium-list ul.voice-posts {height: 320px}
.widget-voice.tall-list ul.voice-posts {height: 420px}
*/
