.cv-button,
.cv-button:visited {
  cursor: pointer;
  color: #d9d9d9;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  background-color: #4d4d4d;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: inset 0 -3px 0 #363636;

  border-width: 0;
  display: block;
  font-size: 11px;
  height: 25px;
  padding: 2px 10px 4px;
}

.cv-button:hover {
  background-color: #595959;
  text-decoration: none;
}

.cv-button:active {
  padding-top: 4px;
  padding-bottom: 2px;
  box-shadow: inset 0 3px 0 #363636;
}

/**
 * Sizes
 **/
.cv-button--small {
  position: relative;
  display: inline-block;
  vertical-align: text-bottom;
  padding: 0em .5em 0;
  height: 19px;
  font-size: 10px;

  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #000;
}

.cv-button--medium {
  font-size: 18px;
  padding: .4em 1em;
  height: auto;
}

/**
 * Colors
 */
.cv-button--trans {
  background-color: rgba(0,0,0,.2);
  color: #fff;
  border: 1px solid rgba(255,255,255,.5);
}
.cv-button--trans:hover {
  text-decoration: none;
  background-color: #000;
}

.cv-button--light {
  background-color: #fafafa;
  border: 1px solid #b2b2b2;
  text-shadow: none;
  box-shadow: inset 0 -1px 0 #ccc;
}
.cv-button--light:hover {
  background-color: #fff;
  text-decoration: none;
}
.green .cv-button--light.dynamic {
  color: #50b347;
}
.blue .cv-button--light.dynamic {
  color: #4db5ff;
}
.yellow .cv-button--light.dynamic {
  color: #ebc91c;
}
.red .cv-button--light.dynamic {
  color: #f10f2a;
}
.orange .cv-button--light.dynamic {
  color: #ec9415;
}

.cv-button--dynamic-color {
  box-shadow: inset 0 -4px 0 rgba(0,0,0,.2);
  text-shadow: none;
  color: #fff;
}
.green .cv-button--dynamic-color {
  background-color: #50b347;
}

.blue .cv-button--dynamic-color {
  background-color: #4db5ff;
}

.yellow .cv-button--dynamic-color {
  background-color: #ebc91c;
}

.red .cv-button--dynamic-color {
  background-color: #f10f2a;
}

.orange .cv-button--dynamic-color {
  background-color: #ec9415;
}

/*
 * variations
 */
.cv-button.with-arrow:hover .cv-button--arrow {
  border-width: 0 .3em .3em;
}

.cv-button--arrow {
  display: inline-block;
  vertical-align: middle;
  margin-left: .2em;
  border-width: .3em .3em 0;
  border-style: solid;
  border-color: #999 transparent;
}
