.mediafeed-sprite {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('/images/v4/sprite-media-feed.png') no-repeat;
}

.mediafeed-sprite.twitter {
  width: 14px;
  height: 13px;
  background-position: 0 0;
}

.mediafeed-sprite.facebook {
  width: 7px;
  height: 14px;
  background-position: -24px 0;
}

.mediafeed-sprite.link-icon,
.mediafeed-sprite.link-type-icon,
.mediafeed-sprite.image-icon,
.mediafeed-sprite.image-type-icon,
.mediafeed-sprite.video-icon,
.mediafeed-sprite.video-type-icon {
  width: 16px;
  height: 16px;
}

.mediafeed-sprite.link-icon {
  background-position: 0 -24px;
}

.mediafeed-sprite.image-icon {
  background-position: -48px -24px;
}

.mediafeed-sprite.video-icon {
  background-position: -24px -24px;
}

.mediafeed-sprite.link-type-icon {
  background-position: 0 -72px;
}

.mediafeed-sprite.image-type-icon {
  background-position: -48px -72px;
}

.mediafeed-sprite.video-type-icon {
  background-position: -24px -72px;
}

.mediafeed-sprite.flag {
  width: 14px;
  height: 15px;
  background-position: -48px 0;
}

.mediafeed-sprite.flag:hover,
.mediafeed-sprite.flag-pressed {
  width: 14px;
  height: 15px;
  background-position: -120px 0;
}

.mediafeed-sprite.allow-post {
  width: 12px;
  height: 19px;
  background-position: 0 -48px;
}

.mediafeed-sprite.deny-post {
  width: 12px;
  height: 19px;
  background-position: -24px -48px;
}

.mediafeed-sprite.pin-icon {
  width: 7px;
  height: 11px;
  background-position: -48px -48px;
}

.mediafeed-sprite.gear-icon {
  width: 11px;
  height: 11px;
  background-position: -72px -48px;
}

.mediafeed-sprite.rss-icon {
  width: 9px;
  height: 9px;
  background-position: -96px -48px;
}

.mediafeed-sprite.search-icon {
  width: 10px;
  height: 10px;
  background-position: -120px -48px;
}

.mediafeed-sprite.right-arrow,
.mediafeed-sprite.left-arrow {
  width: 8px;
  height: 13px;
}
.mediafeed-sprite.left-arrow {
  background-position: -72px -24px;
}
.mediafeed-sprite.right-arrow {
  background-position: -97px -24px;
}

.mediafeed-sprite.back-arrow {
  width: 14px;
  height: 12px;
  background-position: -120px -24px;
}

.mediafeed-sprite.logo {
  width: 20px;
  height: 21px;
  background-position: -72px -72px;
}

.mediafeed-sprite.play-icon {
  width: 47px;
  height: 47px;
  background-position: -96px -72px;
}

.mediafeed-sprite.play-icon--small {
  width: 23px;
  height: 23px;
  background-position: -96px -120px;
}
