.has-cv-tooltip {
  position: relative;
}
.has-cv-tooltip:hover .cv-tooltip,
.cv-tooltip.active {
  display:block;
  opacity: 1;
}

.cv-tooltip {
  display:none;
  opacity: 0;
  position: absolute;
  z-index: 100;
  transition: all 300ms;
}

.cv-tooltip__arrow {
  position: absolute;
  left: 50%;
  margin-left: -5px;
}
.cv-tooltip__arrow-item {
  display: block;
  width: 0;
  height: 0;
  border: 5px solid transparent;
}
.cv-tooltip__arrow-item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-width: 6px;
  border-style: inherit;
  z-index: 1;
}

.cv-tooltip-inner {
  position: relative;
  top: 10px;
  padding: .6em 1em;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
}

/* == positioning_options == */
/* -- bottom -- */
.cv-tooltip--bottom {
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -5px;
}
.cv-tooltip--bottom .cv-tooltip__arrow-item {
  border-color: transparent;
  border-bottom-color: rgba(0,0,0,0.3);
}
.cv-tooltip--bottom .cv-tooltip__arrow-item:after {
  top: 1px;
  left: -1px;
  border-color: transparent;
  border-bottom-color: #fff;
}

/* -- top -- */
.cv-tooltip--top {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: -5px;
}
.cv-tooltip--top > .cv-tooltip__arrow {
  bottom: 0;
}
.cv-tooltip--top .cv-tooltip__arrow-item {
  border-color: transparent;
  border-top-color: rgba(0,0,0,0.3);
}
.cv-tooltip--top .cv-tooltip__arrow-item:after {
  top: -1px;
  left: -1px;
  border-color: transparent;
  border-top-color: #fff;
}
.cv-tooltip--top .cv-tooltip-inner {
  top: 0;
  margin-bottom: 10px;
}

/* -- right -- */
.cv-tooltip--right {
  left: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -5px;
}
.cv-tooltip--right > .cv-tooltip__arrow {
  left: 0;
  top: 50%;
  margin-left: 0;
  margin-top: -5px;
}
.cv-tooltip--right .cv-tooltip__arrow-item {
  border-color: transparent;
  border-right-color: rgba(0,0,0,0.3);
}
.cv-tooltip--right .cv-tooltip__arrow-item:after {
  left: 1px;
  top: -1px;
  border-color: transparent;
  border-right-color: #fff;
}
.cv-tooltip--right .cv-tooltip-inner {
  top: 0;
  left: 10px;
}


/* == utils_options == */
.cv-tooltip--nowrap {
  white-space: nowrap;
}

/* == custom_tooltips == */
.tooltip > .tooltip-positioner > .media-type-info,
.tooltip-positioner > form > .grab-blog-widget {
  border-color: rgba(0,0,0,.3);
  border-style: solid;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
}