.cv-uppercase {
  text-transform: uppercase;
}

.cv-block {
  display: block;
  width: 100%;
}

.cv-inline-block {
  display: inline-block;
  vertical-align: top;
}

.cv-pull-left {
  float: left;
}

.cv-pull-right {
  float: right;
}

.cv-center {
  text-align: center;
}

/* DYNAMIC TEXT COLOR */
.green .cv-dynamic-text-color {
  color: #50b347;
}
.blue .cv-dynamic-text-color {
  color: #4db5ff;
}
.yellow .cv-dynamic-text-color {
  color: #ebc91c;
}
.red .cv-dynamic-text-color {
  color: #f10f2a;
}
.orange .cv-dynamic-text-color {
  color: #ec9415;
}

/* DYNAMIC BACKGROUND COLOR */
.green .cv-dynamic-background-color {
  background-color: #50b347;
}
.blue .cv-dynamic-background-color {
  background-color: #4db5ff;
}
.yellow .cv-dynamic-background-color {
  background-color: #ebc91c;
}
.red .cv-dynamic-background-color {
  background-color: #f10f2a;
}
.orange .cv-dynamic-background-color {
  background-color: #ec9415;
}

/* DYNAMIC BORDER COLORS */
.green .cv-dynamic-border-color {
  border-color: #50b347;
}
.blue .cv-dynamic-border-color {
  border-color: #4db5ff;
}
.yellow .cv-dynamic-border-color {
  border-color: #3bc91c;
}
.red .cv-dynamic-border-color {
  border-color: #f10f2a;
}
.orange .cv-dynamic-border-color {
  border-color: transparent #ec9415;
}

/* DYNAMIC ARROW COLORS */
.green .cv-dynamic-horizontal-arrow {
  border-color: transparent #50b347;
}
.blue .cv-dynamic-horizontal-arrow {
  border-color: transparent #4db5ff;
}
.yellow .cv-dynamic-horizontal-arrow {
  border-color: transparent #3bc91c;
}
.red .cv-dynamic-horizontal-arrow {
  border-color: transparent #f10f2a;
}
.orange .cv-dynamic-horizontal-arrow {
  border-color: transparent #ec9415;
}
