.cv-uppercase {
  text-transform: uppercase;
}

.cv-block {
  display: block;
  width: 100%;
}

.cv-pull-left {
  float: left;
}

.cv-pull-right {
  float: right;
}

.cv-center {
  text-align: center;
}

.green .cv-dynamic-text-color {
  color: #50b347;
}
.blue .cv-dynamic-text-color {
  color: #4db5ff;
}
.yellow .cv-dynamic-text-color {
  color: #ebc91c;
}
.red .cv-dynamic-text-color {
  color: #f10f2a;
}
.orange .cv-dynamic-text-color {
  color: #ec9415;
}

.green .cv-dynamic-horizontal-arrow {
  border-color: transparent #50b347;
}
.blue .cv-dynamic-horizontal-arrow {
  border-color: transparent #4db5ff;
}
.yellow .cv-dynamic-horizontal-arrow {
  border-color: transparent #3bc91c;
}
.red .cv-dynamic-horizontal-arrow {
  border-color: transparent #f10f2a;
}
.orange .cv-dynamic-horizontal-arrow {
  border-color: transparent #ec9415;
}
