.cv-branding--arrow {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 52px;
  margin-right: 2em;
  padding: 1em 1em 0;
}
.cv-branding--arrow:before,
.cv-branding--arrow:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 53%;
  top: 0;
  right: 0;
  background-color: #4c4c4c;
}
.cv-branding--arrow:before {
  transform-origin: 0 0;
  transform: rotate(-20deg);
}
.cv-branding--arrow:after {
  transform-origin: 0 100%;
  transform: rotate(20deg);
  top: initial;
  bottom: 0;
}
.cv-branding--arrow .logo {
  margin: 2px 5px 0 0;
}

.cv-uppercase {
  text-transform: uppercase;
}

.cv-underline {
  text-decoration: underline;
}

.cv-block {
  display: block;
  width: 100%;
}

.cv-inline-block {
  display: inline-block;
  vertical-align: top;
}

.cv-pull-left {
  float: left;
}

.cv-pull-right {
  float: right;
}

.cv-center {
  text-align: center;
}

/* DYNAMIC TEXT COLOR */
.green .cv-dynamic-text-color,
.green .active .cv-dynamic-active-text-color,
.green .cv-dynamic-hover-text-color:hover,
.green .cv-dynamic-hover-text-color:hover .icon,
.green a.cv-dynamic-hover-text-color:hover .icon {
  color: #50b347;
}
.blue .cv-dynamic-text-color,
.blue .active .cv-dynamic-active-text-color,
.blue .cv-dynamic-hover-text-color:hover,
.blue .cv-dynamic-hover-text-color:hover .icon,
.blue > a.cv-dynamic-hover-text-color:hover .icon {
  color: #4db5ff;
}
.yellow .cv-dynamic-text-color,
.yellow .active .cv-dynamic-active-text-color,
.yellow .cv-dynamic-hover-text-color:hover,
.yellow .cv-dynamic-hover-text-color:hover .icon,
.yellow > a.cv-dynamic-hover-text-color:hover .icon {
  color: #ebc91c;
}
.red .cv-dynamic-text-color,
.red .active .cv-dynamic-active-text-color,
.red .cv-dynamic-hover-text-color:hover,
.red .cv-dynamic-hover-text-color:hover .icon,
.red > a.cv-dynamic-hover-text-color:hover .icon {
  color: #f10f2a;
}
.orange .cv-dynamic-text-color,
.orange .active .cv-dynamic-active-text-color,
.orange .cv-dynamic-hover-text-color:hover,
.orange .cv-dynamic-hover-text-color:hover .icon,
.orange > a.cv-dynamic-hover-text-color:hover .icon {
  color: #ec9415;
}

/* DYNAMIC BACKGROUND COLOR */
.green .cv-dynamic-background-color {
  background-color: #50b347;
}
.blue .cv-dynamic-background-color {
  background-color: #4db5ff;
}
.yellow .cv-dynamic-background-color {
  background-color: #ebc91c;
}
.red .cv-dynamic-background-color {
  background-color: #f10f2a;
}
.orange .cv-dynamic-background-color {
  background-color: #ec9415;
}

/* DYNAMIC BORDER COLORS */
.green .cv-dynamic-border-color,
.green .cv-dynamic-active-border-color.active {
  border-color: #50b347;
}
.blue .cv-dynamic-border-color,
.blue .cv-dynamic-active-border-color.active {
  border-color: #4db5ff;
}
.yellow .cv-dynamic-border-color,
.yellow .cv-dynamic-active-border-color.active {
  border-color: #ebc91c;
}
.red .cv-dynamic-border-color,
.red .cv-dynamic-active-border-color.active {
  border-color: #f10f2a;
}
.orange .cv-dynamic-border-color,
.orange .cv-dynamic-active-border-color.active {
  border-color: #ec9415;
}

/* DYNAMIC ARROW COLORS */
.green .cv-dynamic-horizontal-arrow {
  border-color: transparent #50b347;
}
.blue .cv-dynamic-horizontal-arrow {
  border-color: transparent #4db5ff;
}
.yellow .cv-dynamic-horizontal-arrow {
  border-color: transparent #ebc91c;
}
.red .cv-dynamic-horizontal-arrow {
  border-color: transparent #f10f2a;
}
.orange .cv-dynamic-horizontal-arrow {
  border-color: transparent #ec9415;
}

/* hover misc */
.cv-hover-twitter-brand-color:hover,
.cv-hover-twitter-brand-color:hover .icon {
  color: #55acee;
}
.cv-hover-facebook-brand-color:hover,
.cv-hover-facebook-brand-color:hover .icon {
  color: #3b5998;
}
.cv-hover-danger-brand-color:hover,
.cv-hover-danger-brand-color:hover .icon {
  color: #dd0017;
}
