.voice-content-type-wrapper {
  color: #999;
}

.voice-box a > .voice-content-type-wrapper {
  color: rgba(255, 255, 255, .7);
}

.voice-content-type-wrapper .time-ago {
  font-weight: 100;
  font-style: normal;
}

.voices-container > .voice-box {
  will-change: transform, top, left;
  box-shadow: none;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.voice-box > .voice-cont {
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}
.voice-box > .voice-cont > a {
  border-radius: 3px 3px 0 0;
}
  .unmoderated .voice-cont {
    opacity: 0.3;
    -moz-transition: opacity .5s ease .2s;
    -webkit-transition: opacity .5s ease .2s;
    -o-transition: opacity .5s ease .2s;
    transition: opacity .5s ease .2s;
  }
  .unmoderated:hover .voice-cont {opacity: 1}

  .down_hover .text:after {
    color: #999;
  }

  .touch  .voice-box > .voice-cont,
  .touch  .voice-box > .voice-action {
    border-radius: 0;
  }

.voice-box > .voice-cont > a > .magnifier {background: url('/images/magnifier.png') center center no-repeat}
.voice-box > .voice-cont > a > .video {background: url('/images/play-btn.png') center center no-repeat}
.voice-box > .voice-cont > h3 {
  color: #404040;
}
.voice-box > .voice-cont > span {color: #808080}
.voice-box > .voice-cont > p {
  color: #808080;
}
.voice-box > .voice-action {
  border-style:solid;
  border-color: #d9d9d9;
}

.voice-action .icon {
  color: #b3b3b3;
}

.voice-action a:hover {
  text-decoration: none;
}

.voice-action > .actions .mediafeed-sprite.twitter {
  margin-top: 1px;
}

.voice-action > .actions > li > a:hover .mediafeed-sprite.twitter {
  background-position: -72px 0;
}

.voice-action > .actions > li > a:hover .mediafeed-sprite.facebook {
  background-position: -96px 0;
}

.mediafeed-sprite.allow-post {
  margin-top: .45em;
  margin-right: .25em;
}

.mediafeed-sprite.deny-post {
  margin-top: .45em;
  margin-right: .25em;
}

.voice-box > .voice-unmoderated {
  opacity: 1;
  border-style:solid;
  border-color: #d9d9d9;
  border-radius: 0 0 3px 3px
}
.voice-box > .voice-unmoderated > ul {
}
.voice-box > .voice-unmoderated > ul > li {
  border-right-style: solid;
  border-right-color: #d9d9d9;
  text-align: center;
}

.voice-unmoderated > ul > li:first-child a {
  border-radius: 0 0 0 3px;
}

.voice-unmoderated > ul > li:last-child a {
  border-radius: 0 0 3px 0;
}

.voice-unmoderated .flag-div a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
}

.voice-unmoderated .flag-div a:hover {
  background-color: #eee;
}

.voice-unmoderated .flag-div.up a {
  color: #0d9900;
}

.voice-unmoderated .flag-div.down a {
  color: #cc2929;
}

.voice-unmoderated .flag-div.down a:hover {
  background-color: rgba(204, 41, 41, .1);
}

.voice-unmoderated .flag-div.up a:hover {
  background-color: rgba(13, 153, 0, .1);
}
.voice-box > .voice-unmoderated > ul > .up_hover {
  border:2px solid;
  border-color: #8b8a84 #828079 #74726a #77746b;
  background-image: -moz-linear-gradient(top, #7c7b72, #65635b);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7c7b72),color-stop(1, #65635b));
  background-image: -webkit-linear-gradient(#7c7b72, #65635b);
  background-image: linear-gradient(top, #7c7b72, #65635b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7c7b72', EndColorStr='#65635b')
}
.voice-box > .voice-unmoderated > ul > .up_hover:hover {
  border:2px solid;
  border-color: #8b8a84 #828079 #74726a #77746b;
}

.voice-action > .actions > li > a {
  text-align: center;
}
.voice-action .flag-div {
  text-align: center;
}

.voice-action > .actions > li > .flag-over {background-position: -48px -25px}

.close-voice-box {background: url('/images/bg/delete-post.png') 0 0 no-repeat}
.close-voice-box:hover {background-position: 0 bottom}

.voices-container.initial-state .voice-box {
  display: none;
}
