.voice-content-type-wrapper {
  color: #999;
}

.voice-content-type-wrapper.inside {
  color: #fff;
}

.voices-container > .voice-box {
  box-shadow: none;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.voice-box > .voice-cont {
  cursor: pointer;
  border-radius: 3px 3px 0 0;
}
.voice-box > .voice-cont > a {
  border-radius: 3px 3px 0 0;
}
  .unmoderated .voice-cont {
    opacity: 0.3;
    -moz-transition: opacity .5s ease .2s;
    -webkit-transition: opacity .5s ease .2s;
    -o-transition: opacity .5s ease .2s;
    transition: opacity .5s ease .2s;
  }
  .unmoderated:hover .voice-cont {opacity: 1}
  .touch  .voice-box > .voice-cont,
  .touch  .voice-box > .voice-action {
    border-radius: 0;
  }

.voice-box > .voice-cont > a > .magnifier {background: url('/images/magnifier.png') center center no-repeat}
.voice-box > .voice-cont > a > .video {background: url('/images/play-btn.png') center center no-repeat}
.voice-box > .voice-cont > h3 {
  color: #404040;
}
.voice-box > .voice-cont > span {color: #808080}
.voice-box > .voice-cont > p {
  color: #808080;
}
.voice-box > .voice-action {
  border-style:solid;
  border-color: #d9d9d9;
}
.voice-box > .voice-unmoderated {opacity: 1; background: #f6f1dd; border-style:solid; border-color: #f3c719;
  box-shadow: 0 -2px 0 0 #c5a114;
  border-radius: 0 0 3px 3px
}
.voice-box > .voice-unmoderated > span {color: #9f987c}
.voice-box > .voice-unmoderated > ul {
  background: #a9a79c;
  background: -moz-linear-gradient(top,  #a9a79c 0%, #878479 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9a79c), color-stop(100%,#878479));
  background: -webkit-linear-gradient(top,  #a9a79c 0%,#878479 100%);
  background: -o-linear-gradient(top,  #a9a79c 0%,#878479 100%);
  background: -ms-linear-gradient(top,  #a9a79c 0%,#878479 100%);
  background: linear-gradient(to bottom,  #a9a79c 0%,#878479 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9a79c', endColorstr='#878479',GradientType=0 );
  border-color: #8c8a7e;
  border-style: solid;
  border-radius: 3px;
}
.voice-box > .voice-unmoderated > ul > li {position:relative; border-style: solid; cursor: pointer }
.voice-box > .voice-unmoderated > ul > li:hover {
  background: #7c7b72;
  background: -moz-linear-gradient(top,  #7c7b72 0%, #65635b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c7b72), color-stop(100%,#65635b));
  background: -webkit-linear-gradient(top,  #7c7b72 0%,#65635b 100%);
  background: -o-linear-gradient(top,  #7c7b72 0%,#65635b 100%);
  background: -ms-linear-gradient(top,  #7c7b72 0%,#65635b 100%);
  background: linear-gradient(to bottom,  #7c7b72 0%,#65635b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7b72', endColorstr='#65635b',GradientType=0 );
}
.voice-box > .voice-unmoderated > ul > li > span {background: url('/images/icons/thumbs.png') no-repeat}
.voice-box > .voice-unmoderated > ul > li > span > a {display: block; height: 100%}
.voice-box > .voice-unmoderated > ul > .up {border-color: #bab8b0 #adaba1 #9b988e #adaba1;
  border-radius: 3px 0 0 3px
}
.voice-box > .voice-unmoderated > ul > .down {border-color: #bab8b0 #adaba1 #9b988e #77746b;
  border-radius: 0 3px 3px 0
}
.voice-box > .voice-unmoderated > ul > .up > span {background-position: 2px 1px}
.voice-box > .voice-unmoderated > ul > .down > span {background-position: 2px -21px}
.voice-box > .voice-unmoderated > ul > .up:hover {border-color: #8b8a84 #adaba1 #74726a #828079}
.voice-box > .voice-unmoderated > ul > .down:hover  {border-color: #8b8a84 #828079 #74726a #77746b}
.voice-box > .voice-unmoderated > ul > .down_hover {
  border:2px solid;
  border-color: #8b8a84 #828079 #74726a #77746b;
  background-image: -moz-linear-gradient(top, #7c7b72, #65635b);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7c7b72),color-stop(1, #65635b));
  background-image: -webkit-linear-gradient(#7c7b72, #65635b);
  background-image: linear-gradient(top, #7c7b72, #65635b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7c7b72', EndColorStr='#65635b')
}
.voice-box > .voice-unmoderated > ul > .up_hover {
  border:2px solid;
  border-color: #8b8a84 #828079 #74726a #77746b;
  background-image: -moz-linear-gradient(top, #7c7b72, #65635b);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #7c7b72),color-stop(1, #65635b));
  background-image: -webkit-linear-gradient(#7c7b72, #65635b);
  background-image: linear-gradient(top, #7c7b72, #65635b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#7c7b72', EndColorStr='#65635b')
}
.voice-box > .voice-unmoderated > ul > .up_hover:hover {
  border:2px solid;
  border-color: #8b8a84 #828079 #74726a #77746b;
}
.mediafeed-sprite {
  background: url('/images/v4/sprite-media-feed.png') no-repeat;
}
.mediafeed-sprite.link-icon {
  background-position: 0 -24px;
}
.mediafeed-sprite.image-icon {
  background-position: -48px -24px;
}
.mediafeed-sprite.video-icon {
  background-position: -24px -24px;
}
.mediafeed-sprite.twitter {
  background-position: 0 0;
}
.voice-action > .actions > li > a:hover .mediafeed-sprite.twitter {
  background-position: -72px 0;
}
.mediafeed-sprite.facebook {
  background-position: -24px 0;
}
.voice-action > .actions > li > a:hover .mediafeed-sprite.facebook {
  background-position: -96px 0;
}
.mediafeed-sprite.flag {
  background-position: -48px 0;
}
.flag-div a:hover .mediafeed-sprite.flag {
  background-position: -120px 0;
}
.voice-action > .actions > li > a {
  text-align: center;
}
.voice-action .flag-div {
  text-align: center;
}
.voice-action .flag-div {

}
.voice-action > .actions > li > .flag-pressed {background-position: -73px 0}
.voice-action > .actions > li > .flag-over {background-position: -48px -25px}
.voice-action > .actions > li > .flag-pressed:hover {background-position: -73px -24px}

.close-voice-box {background: url('/images/bg/delete-post.png') 0 0 no-repeat}
.close-voice-box:hover {background-position: 0 bottom}

.voices-container.initial-state .voice-box {
  display: none;
}
