/*
    float: left;
  Default styles
  < 460
*/

/*
  Default styles
*/
.main-header {
  background-color: #f2f2f2;
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,0.3);
}

.voice-info {
  background-color: #000;
  color: #fff;
  background-size: 100%;
  background-position: 50%;
}

.voice-info:before {
  background: rgba(0,0,0,.7);
}

.nav-bar {
}

.menu-item .menu-link {
  border-bottom-style: solid;
  border-bottom-color: rgba(0,0,0,.2);
}

.menu-item.active .menu-link {
  border-bottom-color: transparent;
}

.filters-and-mode {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}
.nav-bar {
}
  .hgroup-theme-image {
    border-bottom-style: solid;
    border-bottom-color: #333333;
  }
    .theme-image {
      background: url('/images/bg/top_theme_image.jpg') repeat-x 0 3px;
    }
    .theme-image.black {
      background-color: #1a1a1a;
    }
    .top-line {
      background-color: #e2e2e2;
      border-style: solid none;
      border-color: #c9c9c9 transparent #ebebeb;
    }
    body .top-line.gaza {
      background:#fcfcfc url('/images/bg/gaza_top_line.png') repeat-x !important;
    }
    .voice-info.gaza {
      background: #E3E5E2 url("/images/bg/gaza_flag.jpg") no-repeat scroll -22px -2px;
      border-bottom-color: #b8b9b8;
      border-bottom-style: solid;
    }

.post > .post-paceholder {color: #b2b2b2}
.post > .post-paceholder > .cover {background: #FFF}
.post > .post-paceholder > input[type=file] {float: right; cursor: pointer;
    opacity: 0;
}
.post > .post-paceholder > a:hover {text-decoration:underline}
body.green .post > .post-paceholder > a {color: #50b347}
body.red .post > .post-paceholder > a {
  color: #f10f2a;
}
.post > .post-paceholder > a {
  text-decoration: none;
}
#post_image:hover + a {
  text-decoration: underline;
}
body.orange .post > .post-paceholder > a {color: #ec9415}
body.yellow .post > .post-paceholder > a {color: #ebc91c}
body.blue .post > .post-paceholder > a {color: #4cb5ff}

.post > .post-button > input[type='submit'] {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  border-radius: 0 4px 4px 0;
  text-transform: uppercase;
  text-shadow: none;
}

.filters > p,
.mode > p {
  color: #a6a6a6;
}

.mode-button:first-child > a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mode-button:last-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mode-button.selected > a {
  background-color: #b6b6b6;
  color: #fff !important;
  box-shadow: inset 0 2px 0 rgba(0,0,0,0.1);
}

.moderate-tooltip {color: #595959}

/*
  < 460
*/
@media only screen and (max-width: 460px), only screen and (max-device-width: 460px) {
  .top-left-navigation .menu-item.active {
    background: transparent none;
  }
  .top-left-navigation.active .menu-item {
    background-color: #262626;
    border-bottom: solid 1px #414141;
  }
  .top-left-navigation.active .menu-link:hover {
    color: #FFFFFF;
    background-color: #2D2D2D;
  }
  .top-left-navigation.active .menu-link:active {
    background-color: #1D1D1D;
  }
  .top-left-navigation.active .menu-item.active:after {
    color: #FFFFFF;
  }
  ul .menu-item.active .menu-link:after {
    background: url("/images/icons/sidebar-sprite.png") no-repeat scroll -267px -123px rgba(0, 0, 0, 0);
    content: "";
  }
  ul.active .menu-item.active .menu-link:after {
    background: url("/images/icons/sidebar-sprite.png") no-repeat scroll -287px -123px rgba(0, 0, 0, 0);
    content: "";
  }
  .top-right {
    background-image: url('/images/icons/sidebar-sprite.png');
    background-position: -186px -134px;
  }
  .top-right.active {
    background-color: #000000;
    background-position: -236px -134px;
  }
  .top-right .info-tool {
    background-color: rgba(0,0,0,0.5);
  }
  .filters-and-mode {
    background-color: rgba(242, 242, 242, 0.97);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
  .info-tags__tooltip .voice-tags li {
    border-bottom: 1px solid #aeaeae;
  }

  .filters-and-mode .filters label {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, #e1e1e1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,#e1e1e1));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,#e1e1e1 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,#e1e1e1 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,#e1e1e1 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,#e1e1e1 100%);
    border: 1px solid #BFBFBF;
    border-radius: 0 0 0 0;
  }
  .filters-and-mode .filters label:hover {
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0.5) 100%);
  }
  .filters-and-mode .filters .photos-label {
    border-radius: 3px 0 0 3px;
    border-right: none;
  }
  .filters-and-mode .filters .links-label {
    border-radius: 0 3px 3px 0;
    border-left: none;
  }
  .filters-and-mode .filters .tweets-label {
    border-radius: 3px;
  }
}
