/* Overlay Styles */
.arrows > .tooltip-arrow {display: none}
.arrows > .tooltip-arrow > img {border-style: solid; border-color: #FFF;}
.arrows > .tooltip-arrow > .over-arrow {background: url('/images/bg/over_arrow.png') no-repeat}
.arrows > .left > .over-arrow {background-position: top left}
.arrows > .right > .over-arrow {background-position: top right}
.arrows > .voice-arrow {background: url('/images/bg/overlaw-arrows.png') no-repeat}
.arrows > .left {background-position: 0 0;}
.arrows > .right {background-position: 0 -64px;}
  .arrows > .voice-arrow:active {opacity: .5}

.vide-overlay-container .video-container {
  background: #d9d9d9;
  border-color: transparent;
  border-style: solid;
  background: url('/images/bg/video_container.png') repeat 0 0;
  border-radius:4px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, .2);
}
.overlay-container > .voice-container {
  background: #d9d9d9;
  border-color: transparent;
  border-style: solid;
  background: #EEEEEE;
  border-radius:0px 0px 4px 4px;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, .2);
}
.voice-over-info > h2 {color: #262626}
.voice-over-info > .external-link > li {
  border-style: solid;
  border-color: #262522;
  border-radius: 4px
}
.voice-over-info > .external-link > li > a {
  background: #58554b;
  text-decoration: none;
  color: #d9d9d9;
  border-style: solid;
  border-color: #757269 #6b685f #5f5d54 #6b685f;
  font-weight: normal;
  border-radius: 4px;
  background-image: -moz-linear-gradient(top, #636057, #4f4c43);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #636057), color-stop(1.0, #4f4c43));
  background-image: -webkit-linear-gradient(#636057, #4f4c43);
  background-image: linear-gradient(top, #636057, #4f4c43);
}
.close-voice-container {
  background: url('/images/icons/sidebar-sprite.png') transparent no-repeat;
  background-position: -213px 0;
  float: right;
  display: block;
  position: relative;
}
.close-voice-container:hover {
  background-position: -213px -33px;
}
.voice-container > .voice-coment-zone { background: #ededed; border-color: #bababa; border-style: solid}
.voice-container > .voice-coment-zone > .show-comment-arrow {background: url('/images/bg/comment-arrow.png') no-repeat; background-position:0 0}
.voice-container > .share-voice-container > p {color: #807c73}
.share-voice-container > .actions > .flag-div {background: url('/images/bg/divider_dots.png') 0 0 no-repeat}
.share-voice-container > .actions > li > a {background: url('/images/bg/sprites/box_actions.png') no-repeat}
.share-voice-container > .actions > li > .facebook {background-position: 0 0}
.share-voice-container > .actions > li > .twitter {background-position: -24px 0}
.share-voice-container > .actions > li > .flag {background-position: -48px 0}
.share-voice-container > .actions > li > .facebook:hover {background-position: 0 -25px}
.share-voice-container > .actions > li > .twitter:hover {background-position: -24px -25px}
.share-voice-container > .actions > li > .flag:hover {background-position: -48px -25px}
.voice-over-info > .comments {background: url('/images/icons/comments.png') no-repeat; background-position:0 0}
.voice-over-info > .comments > li { color: #1b181a}
#overlay {
  background:#000000 url('/images/loader-over.gif') no-repeat scroll center center;
  background-position: 50% 50%;
  opacity: 0.7;
}
