<% @isnot_an_installation = !subdomain_present? && @items.present? && LayoutItem.where("voice_id is not null").size == 8 %>

<% head do %>
  <%= include_stylesheets :home_pack %>
<% end %>

<% cache("#{current_connection}_homepage") do %>

  <div class="welcome-padding"></div>
  <div class="current-voice-bar"></div>

  <div class="welcome-padding">
    <div class="home-scroller">
      <%= render :partial => 'new_home' %>
    </div>
  </div>

<% end %>

<!-- TODO: MOVE JS to the bottom properly -->
<%= include_javascripts :home_pack %>
