/* -- Backstory Timeline -- */
.cv-timeline-wrapper {
  position: absolute;
  top: 40px;
  bottom: 0;
  background: #000;
  display: inline-block;
  width: 100%;
  bottom: 0;
}

.cv-timeline__background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,1);
}

.cv-timeline__background:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 45%;
  background-color: #fff;
}

.cv-timeline__background > div {
  height: 100%;
  background-size: cover;
  opacity: .15;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.cv-timeline {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: auto;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cv-timeline__inner {
  position: relative;
  -webkit-transition: top 200ms;
  transition: top 200ms;
}

.cv-timeline-fixed-buttons {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 6px;
  z-index: 1;
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
}

.cv-timeline-fixed-buttons .cv-button--small {
  color: #808080;
}

.cv-timeline-fixed-buttons .related-backstories__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.related-backstories-button {
  display: none;
}

.related-backstories-button.show {
  display: block;
}

.related-backstories-tooltip {
  left: inherit;
  right: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.related-backstories-tooltip .cv-tooltip__arrow {
  left: inherit;
  right: 2em;
}
.related-backstories-tooltip .cv-tooltip-inner {
  padding: 0;
}

.related-backstories-tooltip a {
  position: relative;
  display: block;
  font-size: 12px;
  padding: .5em 1.2em;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
}

.related-backstories-tooltip a:hover {
  background-color: #fafafa;
  color: #333;
  text-decoration: none;
}

.related-backstories-tooltip a:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.related-backstories-tooltip a:first-child:not(:last-child) {
    border-radius: 4px 4px 0 0;
}

.related-backstories-tooltip a:last-child:not(:first-child) {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.related-backstories-tooltip a:last-child {
  border-bottom: 0;
}

.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-month__label {
  left: 34px;
}

.cv-timeline-year {
  display: inline-block;
  vertical-align: top;
  padding-top: 10px;
}

.cv-timeline-month {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.cv-timeline-month__label {
  position: absolute;
  top: 5px;
  left: 0;
  height: 25px;
  padding-top: 3px;
  background: #fff;
  z-index: 2;
}
.cv-timeline-month__label--upper {
  font-size: 14px;
  line-height: 11px;
  color: #666;
  text-transform: uppercase;
}
.cv-timeline-month__label--small {
  font-size: 11px;
  line-height: 1em;
  color: #a6a6a6;
  letter-spacing: 1px;
}

.cv-timeline-element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 395px;
}

.cv-timeline-element__title {
  font-size: 30px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #b2b2b2;
}

.cv-timeline-element__description {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
  color: #4c4c4c;
}

.cv-timeline-element__description .icon:first-child {
  margin-left: 10px;
}

.cv-timeline-element__description .icon {
  position: relative;
  margin: 1px 0 0 5px;
  top: 1px;
  color: #cccccc;
}

.cv-timeline-view-button {
  padding-left: 6px;
  padding-right: 6px;
}

.cv-timeline-element__gallery-wrapper {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #fff;
  padding: 10px 55px 15px 15px;
}

.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-element:first-child > .cv-timeline-element__gallery-wrapper {
  margin-left: 30px;
}

.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-element:first-child > .cv-timeline-element__info-wrapper {
  padding-left: 30px;
}

.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-element:first-child .cv-timeline-month__label {
  margin-left: 30px;
}

.has-media .cv-timeline-element__gallery-wrapper {
  cursor: pointer;
}

.cv-timeline-element__gallery {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.cv-timeline-element__gallery-frame {
  padding: 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px -1px 3px rgba(0,0,0,0.2);
  -webkit-transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform;
}

.has-media .cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame {
  -webkit-transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cv-timeline-element__gallery-frame > img {
  position: relative;
  display: block;
  /*
  width: 214px;
  height: auto;
  */
  width: 314px;
  height: 200px;
  border-radius: 2px;
}

.cv-timeline-element__gallery-frame:first-child {
  position: relative;
  z-index: 4;
}

.cv-timeline-element__gallery-frame + .cv-timeline-element__gallery-frame {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cv-timeline-element__gallery-frame:nth-child(2) {
  -webkit-transform: translateX(3px) translateY(-3px);
  -ms-transform: translateX(3px) translateY(-3px);
  transform: translateX(3px) translateY(-3px);
  z-index: 3;
}

.cv-timeline-element__gallery-frame:nth-child(3) {
  -webkit-transform: translateX(6px) translateY(-6px);
  -ms-transform: translateX(6px) translateY(-6px);
  transform: translateX(6px) translateY(-6px);
  z-index: 2;
  opacity: .8;
}

.cv-timeline-element__gallery-frame:nth-child(4) {
  -webkit-transform: translateX(8px) translateY(-8px);
  -ms-transform: translateX(8px) translateY(-8px);
  transform: translateX(8px) translateY(-8px);
  z-index: 1;
  opacity: .6;
}

.has-media .cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(1) {
  -webkit-transform: translateX(-4px) translateY(4px);
  -ms-transform: translateX(-4px) translateY(4px);
  transform: translateX(-4px) translateY(4px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(2) {
  -webkit-transform: translateX(0px) translateY(-0px);
  -ms-transform: translateX(0px) translateY(-0px);
  transform: translateX(0px) translateY(-0px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(3) {
  -webkit-transform: translateX(4px) translateY(-4px);
  -ms-transform: translateX(4px) translateY(-4px);
  transform: translateX(4px) translateY(-4px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(4) {
  -webkit-transform: translateX(8px) translateY(-8px);
  -ms-transform: translateX(8px) translateY(-8px);
  transform: translateX(8px) translateY(-8px);
}

.cv-timeline-element__info-wrapper {
  position: relative;
  background-color: #fff;
  padding: 5px 0 0 0;
  box-shadow: 0 -2px 0 0 rgba(0,0,0,0.1);
}

.cv-timeline-element__time-ticks {
  height: 25px;
  margin: 0 5px 5px 1px;
  border-left: 1px solid transparent;
  background-image: -webkit-linear-gradient(left, #d9d9d9 1px, transparent 0%);
  background-image: linear-gradient(to right, #d9d9d9 1px, transparent 0%);
  background-size: 6px 6px;
}
.cv-timeline-element__info {
  width: 250px;
  white-space: normal;
  padding: 10px 15px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #fff;
}
