.cv-backstory-ui-wrapper {
  position: absolute;
  top: 97px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: inherit;
}

.cv-backstory-ui-wrapper > .widget {
  height: 100%;
}

/* -- Breadcrum -- */
.cv-timeline-breadcrum {
  position: relative;
  z-index: 4;
  padding: 10px 10px 10px 27px;
  background-color: #f2f2f2;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.1);
}

.cv-timeline-breadcrum__title {
  font-size: 12px;
  position: relative;
  float: left;
  padding: 1px 18px 1px 0;
  margin-right: 5px;
  text-transform: uppercase;
  color: #999999;
}

.cv-timeline-breadcrum__title:before,
.cv-timeline-breadcrum__title:after {
  content: '';
  position: absolute;
  right: 0;
  height: 50%;
  width: 1px;
  background: #b2b2b2;
}
.cv-timeline-breadcrum__title:before {
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: rotateZ(-25deg);
  -ms-transform: rotateZ(-25deg);
  transform: rotateZ(-25deg);
}
.cv-timeline-breadcrum__title:after {
  top: 50%;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotateZ(25deg);
  -ms-transform: rotateZ(25deg);
  transform: rotateZ(25deg);
}

.cv-timeline-breadcrum__points {
  white-space: nowrap;
  position: absolute;
  overflow: auto;
  right: 0;
  left: 95px;
  width: auto;
}

.cv-timeline-breadcrum__point-item {
  font-size: 12px;
  display: inline-block;
  padding: 1px 5px;
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.cv-timeline-breadcrum__point-item:hover {
  background-color: rgba(166,166,166,.15);
}
.cv-timeline-breadcrum__point-item.active {
  color: #fff;
  background-color: #a6a6a6;
  box-shadow: inset 0 2px 0 0 rgba(0,0,0,.15);
}

/* -- Backstory Timeline -- */
.cv-timeline-wrapper {
  position: absolute;
  top: 40px;
  bottom: 0;
  background: #000;
  display: inline-block;
  width: 100%;
  bottom: 0;
}

.cv-timeline__background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,1);
}
.cv-timeline__background > div {
  height: 100%;
  background-size: cover;
  opacity: .15;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.cv-timeline__info-mask {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  top: 50%;
  background: #fff;
  box-shadow: 0 -2px 0 0 rgba(0,0,0,0.1);
}

.cv-timeline {
  position: relative;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cv-timeline__table {
  display: table;
  height: 100%;
}

.cv-timeline__cell {
  display: table-cell;
  vertical-align: middle;
}

.cv-timeline-fixed-buttons {
  position: fixed;
  bottom: 5px;
  right: 5px;
  padding: 6px;
  z-index: 1;
  background: rgba(255,255,255,0.8);
  border-radius: 3px;
}

.cv-timeline-fixed-buttons .cv-button--small {
  color: #808080;
  font-weight: 600;
}

.cv-timeline-fixed-buttons .related-backstories__wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.related-backstories-tooltip {
  left: inherit;
  right: 0;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.related-backstories-tooltip .cv-tooltip__arrow {
  left: inherit;
  right: 2em;
}
.related-backstories-tooltip .cv-tooltip-inner {
  padding: 0;
}

.related-backstories-tooltip a {
  position: relative;
  display: block;
  font-size: 12px;
  padding: .5em 1.2em;
  border-bottom: 1px solid rgba(0,0,0,0.1)
}

.related-backstories-tooltip a:hover {
  background-color: #fafafa;
  color: #333;
  text-decoration: none;
}

.related-backstories-tooltip a:first-child {
    border-radius: 4px 4px 0 0;
}

.related-backstories-tooltip a:last-child {
  border-bottom: 0;
  border-radius: 0 0 4px 4px;
}

.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-month__label + .cv-timeline-element {
  padding-left: 94px;
}
.cv-timeline-year:first-child > .cv-timeline-month:first-child > .cv-timeline-month__label {
  left: 34px;
}

.cv-timeline-year {
  display: inline-block;
  vertical-align: top;
}

.cv-timeline-month {
  position: relative;
  display: inline-block;
  vertical-align: top;
}
.cv-timeline-month__label {
  position: absolute;
  top: 238px;
  left: 0;
  height: 25px;
  padding-top: 3px;
  background: #fff;
  z-index: 2;
}
.cv-timeline-month__label--upper {
  font-size: 14px;
  line-height: 11px;
  color: #666;
  text-transform: uppercase;
  font-weight: 600;
}
.cv-timeline-month__label--small {
  font-size: 11px;
  line-height: 1em;
  color: #a6a6a6;
  letter-spacing: 1px;
}

.cv-timeline-element {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 40px;
}

.cv-timeline-element:before {
  content: '';
  position: absolute;
  width: 40px;
  height: 25px;
  top: 238px;
  left: 0;
  background-image: -webkit-linear-gradient(left, #d9d9d9 1px, transparent 0);
  background-image: linear-gradient(to right, #d9d9d9 1px, transparent 0);
  background-size: 6px 6px;
  z-index: 1;
}

.cv-timeline-element + .cv-timeline-element {
  padding-left: 40px;
}

.cv-timeline-element__title {
  font-size: 30px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #b2b2b2;
  font-weight: 300;
}

.cv-timeline-element__description {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 12px;
  color: #4c4c4c;
  font-weight: 400;
}

.cv-timeline-element__description .icon:first-child {
  margin-left: 10px;
}

.cv-timeline-element__description .icon {
  position: relative;
  margin: 1px 0 0 5px;
  top: 1px;
  color: #cccccc;
}

.cv-timeline-view-button {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 600;
}

.cv-timeline-element__gallery-wrapper {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #fff;
  padding: 10px 15px 15px;
  cursor: pointer;
}

.cv-timeline-element__gallery {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.cv-timeline-element__gallery-frame {
  padding: 4px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px -1px 3px rgba(0,0,0,0.2);
  -webkit-transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  will-change: transform;
}

.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame {
  -webkit-transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.cv-timeline-element__gallery-frame > img {
  position: relative;
  display: block;
  width: 314px;
  height: 200px;
  border-radius: 2px;
}

.cv-timeline-element__gallery-frame:first-child {
  position: relative;
  z-index: 4;
}

.cv-timeline-element__gallery-frame:first-child:before {
  content: '';
  background: #000;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 3px;
}

.cv-timeline-element__gallery-frame + .cv-timeline-element__gallery-frame {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cv-timeline-element__gallery-frame:nth-child(2) {
  -webkit-transform: translateX(3px) translateY(-3px);
  -ms-transform: translateX(3px) translateY(-3px);
  transform: translateX(3px) translateY(-3px);
  z-index: 3;
}

.cv-timeline-element__gallery-frame:nth-child(3) {
  -webkit-transform: translateX(6px) translateY(-6px);
  -ms-transform: translateX(6px) translateY(-6px);
  transform: translateX(6px) translateY(-6px);
  z-index: 2;
  opacity: .8;
}

.cv-timeline-element__gallery-frame:nth-child(4) {
  -webkit-transform: translateX(8px) translateY(-8px);
  -ms-transform: translateX(8px) translateY(-8px);
  transform: translateX(8px) translateY(-8px);
  z-index: 1;
  opacity: .6;
}

.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(1) {
  -webkit-transform: translateX(-4px) translateY(4px);
  -ms-transform: translateX(-4px) translateY(4px);
  transform: translateX(-4px) translateY(4px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(2) {
  -webkit-transform: translateX(0px) translateY(-0px);
  -ms-transform: translateX(0px) translateY(-0px);
  transform: translateX(0px) translateY(-0px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(3) {
  -webkit-transform: translateX(4px) translateY(-4px);
  -ms-transform: translateX(4px) translateY(-4px);
  transform: translateX(4px) translateY(-4px);
}
.cv-timeline-element__gallery:hover .cv-timeline-element__gallery-frame:nth-child(4) {
  -webkit-transform: translateX(8px) translateY(-8px);
  -ms-transform: translateX(8px) translateY(-8px);
  transform: translateX(8px) translateY(-8px);
}

.cv-timeline-element__info-fake-bg {
  background-color: white;
  position: absolute;
  top: 233px;
  left: 0;
  width: 100%;
  height: 300%;
  box-shadow: 0 -2px 0 0 rgba(0,0,0,0.1);
}

.cv-timeline-element__info-wrapper {
  position: relative;
}

.cv-timeline-element__time-ticks {
  height: 25px;
  margin: 5px 0 5px 1px;
  border-left: 1px solid transparent;
  background-image: -webkit-linear-gradient(left, #d9d9d9 1px, transparent 0%);
  background-image: linear-gradient(to right, #d9d9d9 1px, transparent 0%);
  background-size: 6px 6px;
}
.cv-timeline-element__info {
  width: 250px;
  white-space: normal;
  padding: 10px 15px;
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: #fff;
}


/* -- CARDS -- */
.cv-timeline-cards {
  width: 326px;
  white-space: nowrap;
  position: absolute;
  top: 385px;
  left: 266px;
  z-index: 1;
}
.cv-timeline-cards:before {
  content: '';
  width: 1px;
  height: 160px;
  background: #ccc;
  position: absolute;
  top: -118px;
  left: 27px;
}

.cv-timeline-cards__arrow {
  position: absolute;
  top: 28px;
  z-index: 1;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.cv-timeline-cards__arrow:hover {
  opacity: 0.8;
  text-decoration: none;
}

.cv-timeline-cards__arrow.disabled {
  opacity: 0.2;
}

.cv-timeline-cards__arrow.prev {
  left: -16px;
}
.cv-timeline-cards__arrow.next {
  right: -16px;
}

.cv-timeline-cards__carousel-wrapper {
  position: relative;
  overflow: hidden;
  background: #fff;
  padding-top: 5px;
}

.cv-timeline-cards__carousel {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  -webkit-transition: left 200ms;
  transition: left 200ms;
}

.cv-timeline-card {
  display: inline-block;
  width: 326px;
  min-height: 56px;
  vertical-align: top;
  opacity: 0.1;
  -webkit-transition: opacity 400ms;
  transition: opacity 400ms;
}

.cv-timeline-card.active {
  opacity: 1;
}

.cv-timeline-card__image-wrapper {
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}

.cv-timeline-card__image {
  position: relative;
  height: 56px;
  left: -16px;
}

.cv-timeline-card__info {
  padding-left: 67px;
}

.cv-timeline-card__info-date {
  display: inline-block;
  font-size: 15px;
  color: #b2b2b2;
  text-transform: uppercase;
}

.cv-timeline-card__info-desc {
  font-size: 12px;
  color: #666666;
  font-style: italic;
  line-height: 16px;
  white-space: normal;
}
