<header class="white">
  <div class="hgroup-theme-image">
    <div class="theme-image"><p class="top-line"></p></div>
  </div>
  <div class="static-title">
    <h2>About Us</h2>
    <ul class="network-links">
      <li><a class="facebook" target="_blank" href="https://facebook.com/CrowdVoice"></a></li>
      <li><a class="twitter" target="_blank" href="https://twitter.com/CrowdVoice"></a></li>
    </ul>
  </div>
</header>
<div class="static-container">
  <div class="aligned">
    <div class="info-page border-all">
      <iframe id="form" height="5630" width="875" src="<%=@link%>"></iframe>
    </div>
  </div>
</div>
