<% head do %>
  <% @is_gaza = @voice.is_witness_gaza %>
  <%= include_stylesheets :backstory %>
<% end %>

<%# cache("#{current_connection}_backstory_#{@voice.id}") do %>
<header class="main-header">
  <%= render :partial => "nav_bar" %>
</header>

<!--<div class="sweeper header-sep"></div>-->

<div class="cv-backstory-ui-wrapper" data-background="<%= @voice.background %>"></div>

<!--
<div class="cv-timeline-breadcrum clearfix">
  <div class="cv-timeline-breadcrum__title">Jump to</div>
  <div class="cv-timeline-breadcrum__points">
    <li class="cv-timeline-breadcrum__point-item cv-dynamic-text-color active">
      May 2014
    </li>
    <li class="cv-timeline-breadcrum__point-item cv-dynamic-text-color">
      June 2013
    </li>
    <li class="cv-timeline-breadcrum__point-item cv-dynamic-text-color">
      July 2014
    </li>
  </div>
</div>
<div class="cv-timeline-wrapper">
  <div class="cv-timeline__background">
    <div style="background-image: url(https://crowdvoice-production-bucket.s3.amazonaws.com/uploads/voice/background/1227/FARC.jpg);"></div>
  </div>
  <div class="cv-timeline__info-mask"></div>
  <div class="cv-timeline">
    <div class="cv-timeline-year">
      <div class="cv-timeline-month">
        <div class="cv-timeline-month__label">
          <div class="cv-timeline-month__label--upper">MAY</div>
          <div class="cv-timeline-month__label--small">2014</div>
        </div>
        <div class="cv-timeline-element">
          <div class="cv-timeline-element__gallery-wrapper cv-dynamic-border-color">
            <div class="cv-timeline-element__gallery">
              <div class="cv-timeline-element__gallery-frame">
                <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/477/gray_Top-Farc-negotiator-Iv-n--009.jpg">
              </div>
              <div class="cv-timeline-element__gallery-frame"></div>
              <div class="cv-timeline-element__gallery-frame"></div>
              <div class="cv-timeline-element__gallery-frame"></div>
            </div>
          </div>
          <div class="cv-timeline-element__time-ticks cv-dynamic-border-color"></div>
          <div class="cv-timeline-element__info cv-dynamic-border-color">
            <h3 class="cv-timeline-element__title">May 15, 2014</h3>
            <p class="cv-timeline-element__description">Palestinian Teenagers Shot Dead During Demonstration.</p>
            <button class="cv-timeline-view-button cv-button cv-button--small cv-button--light cv-dynamic-text-color">View</button>
          </div>
          <div class="cv-timeline-cards">
            <div class="cv-timeline-card">
              <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/594/thumb_Gral.jpeg" alt="">
              <div class="cv-timeline-card__info">
                <p class="cv-timeline-card__info-date">May 17, 2014</p>
                <p class="cv-timeline-card__info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="cv-timeline-element">
          <div class="cv-timeline-element__gallery-wrapper cv-dynamic-border-color">
            <div class="cv-timeline-element__gallery">
              <div class="cv-timeline-element__gallery-frame">
                <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/477/gray_Top-Farc-negotiator-Iv-n--009.jpg">
              </div>
              <div class="cv-timeline-element__gallery-frame"></div>
              <div class="cv-timeline-element__gallery-frame"></div>
            </div>
          </div>
          <div class="cv-timeline-element__time-ticks cv-dynamic-border-color"></div>
          <div class="cv-timeline-element__info cv-dynamic-border-color">
            <h3 class="cv-timeline-element__title">May 20, 2014</h3>
            <p class="cv-timeline-element__description">Palestinian Teenagers Shot Dead During Demonstration.</p>
            <button class="cv-timeline-view-button cv-button cv-button--small cv-button--light cv-dynamic-text-color">View</button>
          </div>
          <div class="cv-timeline-cards">
            <div class="cv-timeline-card">
              <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/594/thumb_Gral.jpeg" alt="">
              <div class="cv-timeline-card__info">
                <p class="cv-timeline-card__info-date">May 17, 2014</p>
                <p class="cv-timeline-card__info-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cv-timeline-year">
      <div class="cv-timeline-month">
        <div class="cv-timeline-month__label">
          <div class="cv-timeline-month__label--upper">MAY</div>
          <div class="cv-timeline-month__label--small">2013</div>
        </div>
        <div class="cv-timeline-element">
          <div class="cv-timeline-element__gallery-wrapper cv-dynamic-border-color">
            <div class="cv-timeline-element__gallery">
              <div class="cv-timeline-element__gallery-frame">
                <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/477/gray_Top-Farc-negotiator-Iv-n--009.jpg">
              </div>
            </div>
          </div>
          <div class="cv-timeline-element__time-ticks cv-dynamic-border-color"></div>
          <div class="cv-timeline-element__info cv-dynamic-border-color">
            <h3 class="cv-timeline-element__title">May 15, 2013</h3>
            <p class="cv-timeline-element__description">Palestinian Teenagers Shot Dead During Demonstration.</p>
            <button class="cv-timeline-view-button cv-button cv-button--small cv-button--light cv-dynamic-text-color">View</button>
          </div>
        </div>
      </div>
      <div class="cv-timeline-month">
        <div class="cv-timeline-month__label">
          <div class="cv-timeline-month__label--upper">JUN</div>
          <div class="cv-timeline-month__label--small">2013</div>
        </div>
        <div class="cv-timeline-element">
          <div class="cv-timeline-element__gallery-wrapper cv-dynamic-border-color">
            <div class="cv-timeline-element__gallery">
              <div class="cv-timeline-element__gallery-frame">
                <img src="http://crowdvoice-production-bucket.s3.amazonaws.com/images/event/background_image/477/gray_Top-Farc-negotiator-Iv-n--009.jpg">
              </div>
              <div class="cv-timeline-element__gallery-frame"></div>
            </div>
          </div>
          <div class="cv-timeline-element__time-ticks cv-dynamic-border-color"></div>
          <div class="cv-timeline-element__info cv-dynamic-border-color">
            <h3 class="cv-timeline-element__title">Jun 15, 2014</h3>
            <p class="cv-timeline-element__description">Palestinian Teenagers Shot Dead During Demonstration.</p>
            <button class="cv-timeline-view-button cv-button cv-button--small cv-button--light cv-dynamic-text-color">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->

<%= include_javascripts :backstory_pack %>

