<% head do %>
  <% @is_gaza = @voice.is_witness_gaza %>
  <%= include_stylesheets :backstory %>
<% end %>

<%# cache("#{current_connection}_backstory_#{@voice.id}") do %>
<header class="main-header">
  <%= render :partial => "nav_bar" %>
</header>

<!--<div class="sweeper header-sep"></div>-->

<div class="cv-backstory-ui-wrapper" data-background="<%= @voice.background %>"></div>

<%= include_javascripts :backstory_pack %>

