    <%= render 'shared/infobox-template' %>

    <div class="info-sidebar">
      <div class="wrapper">
        <div class="preload-mask">
          <div class="image-bg-patter">
            <div class="loading-hldr">
              <div class="loading-wrapper">
                <div class="spinner">
                  <img border="0" src="/images/loader-posts.gif" alt="Loader-posts">
                  <p>Loading blocks</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scroll-mask">
        </div>
      </div>
      <div class="info-tab-controller"><i class="tab-icon"></i></div>
    </div>
