<script>
    $(function() {

        var _mapVoice   = null,
            lat         = <%= @voice.latitude.present? ? @voice.latitude : '-34.397' %>,
            lng         = <%= @voice.longitude.present? ? @voice.longitude : '150.644' %>,
            $mapOverlay = $('.map-overlay'),
            $mapLink    = $('.info-tool-link.map'),
            $backToVoice= $('.back-to-voice span', $mapOverlay);

        var initVoiceMap = function() {
            _mapVoice = new CVMap('.js-voice-map', {
                zoom    : 8,
                center  : new google.maps.LatLng(lat, lng)
            });
        };

        window.initializeVoiceMap = function() {
            ( typeof CVMap === "undefined" )
                ? window.appendMapScript( initVoiceMap )
                : initVoiceMap();
        }

        $mapLink.bind('click', function(){
            $mapOverlay.css({
                'visibility': 'visible',
                'z-index'   : '5'
            });

            if ( !_mapVoice ) {
                ( typeof google === "undefined" )
                    ? window.appendGoogleMapsScript( "initializeVoiceMap" )
                    : initializeVoiceMap();
            }

            return false;
        });

        $backToVoice.bind('click', function(event) {
            $mapOverlay.css({
                'visibility': 'hidden',
                'z-index'   : '0'
            });
        });

    });
</script>

<div class="js-voice-map">
    <div class="loader loader--dark loader--show">
        <span class="loader__inner">
            <span class="loader__image"></span>
        </span>
    </div>
</div>
