<div id="overlay" class="cv-overlay-backdrop cv-media-gallery"></div>

<div class="cv-overlay overlay-container cv-media-gallery" data-custom-name="<%= @custom.name.split(".").first.parameterize('_') %>">
  <div class="cv-overlay-header cv-dynamic-border-color clearfix">

    <div class="cv-pull-left">
      <div class="cv-branding--arrow">
        <i class="mediafeed-sprite logo"></i>
      </div>
      <div class="cv-media-gallery-carrousel">
      </div>
    </div>

    <div class="cv-pull-right">
      <div class="cv-overlay-buttons-wrapper cv-inline-block">
        <button class="js-back-to-voice-button cv-button cv-uppercase cv-inline-block">
          <i class="mediafeed-sprite back-arrow"></i>
          Back to Voice
        </button>
      </div>
    </div>
  </div>

  <div class="link-overlay-scrollable">
    <div class="cv-media-gallery-wrapper">

      <a href="#" class="voice-arrow prev cv-button">
        <i class="mediafeed-sprite left-arrow"></i>
      </a>

      <a href="#" class="voice-arrow next cv-button">
        <i class="mediafeed-sprite right-arrow"></i>
      </a>

      <div class="image-wrapper"></div>

      <div class="info-wrapper">
        <p class="time-ago">
          <i class="mediafeed-sprite post-icon-type"></i>
          <span></span>
        </p>
        <p class="title"></p>
        <div class="sharing-button">
          <ul class="actions">
            <li>
              <a href="" class="facebook" target="_blank">
                <i class="mediafeed-sprite facebook"></i>
              </a>
            </li>
            <li>
              <a href="" class="twitter" target="_blank">
                <i class="mediafeed-sprite twitter"></i>
              </a>
            </li>
            <li class="vertical-divider"></li>
            <li class="flag-div">
              <a href="" format="json" class="flag overlay-vote-post" data-method="post" rel="nofollow">
                <i class="mediafeed-sprite flag"></i>
              </a>
              <div class="tooltip flag-tip" data-post-id="post_{{post_id}}">
                <div class="tooltip-positioner">
                <p class="tooltip-arrow"><span></span></p>
                <div class="media-type-info">
                  <strong class="media-type-title"></strong>
                  <p class="flag-tooltip">
                    <span>Flag Inappropiate Content</span>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
