<%
    infosidebarIsPresent = false
    if !@blocks.empty?
      if params[:tags].present? || params['all'].present?
        infosidebarIsPresent = true
      end
    end
 %>
<script type="text/template" id="timeline-deactivated">
  <li class="timeliner disactivated-timeliner" data-year="{{year}}">
    <a href="#" class="cv-dynamic-text-color">
      <span class="timerliner-dot"></span>
      <span class="year-label">
      <span class="inner-dot-icn"></span>
      <span class="year-text">{{year}}</span>
      </span>
    </a>
  </li>
</script>
<div class="sweeper panel-padding">

  <!--style type="text/css" class="posts-style">
    /*placeholder for dynamically calculated posts styles*/
    /* used by mediafeed_init.js/setPostsmeasures()*/
  </style-->

  <!-- infographics sidebar render only on POSTS WALL view -->
  <% if  infosidebarIsPresent && !is_mobile? %>
    <%= render :partial => "voices/info-sidebar" %>
  <% end %>


  <div class="voices-scroller scroll-primary <%= 'with-infosidebar' if infosidebarIsPresent %>" style="height: 1167px; width: 959px;">
    <div class="voices-container" style="width: 800px; overflow: hidden; position: relative; height: 564px;">
      <div class="placeholders">
      
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function(){

      CV.voicesContainer = new VoicesContainer({
        name     : 'voicesContainer',
        element  : $('.voices-container'),
        perPage  : <%= per_page = (is_mobile? ? Setting.posts_per_page_on_mobile : Setting.posts_per_page).to_i %>
      });

      var iteration = 1;
      var placeholderInterval = setInterval(function() {
        if ($('.voices-container .placeholder').length >= 12) {
          $('.voices-container').html('')
        }

        if (iteration > 3) {
          iteration = 1;
        }

        var options = {};

        switch (iteration) {
          case 1:
            options.width = "180px"
            options.height = "269px"
            break;
          case 2:
            options.width = "180px"
            options.height = "379px"
            break;
          case 3:
            options.width = "180px"
            options.height = "419px"
            break;
        }

        var element = $('<div class="voice-box placeholder" style="width:' + options.width + ';height:' + options.height + ';"> <img src="/images/cv-placeholder-0' + iteration +'.gif" style="" /></div>')
        $('.voices-container').append(element);

        CV.voicesContainer.element.isotope('appended', element);
        CV.voicesContainer.element.isotope('layout');
        
        iteration++
      }, 350);



      CV.OverlaysController = new OverlaysController();

      var page = 0;

      var params = '?page=' + page;

      if ($.deparam.querystring().mod) {
          params += '&mod=1';
      }

      params += "&fetchAll=1";

      $.ajax({
        dataType  : "json",
        async     : true,
        url       : location.pathname + params,
        success   : function(data) {
          _.each(data.posts, function(item) {
            var post = {};

            post.id = item[0];
            post.voice_id = item[1];
            post.user_id = item[2];
            post.title = item[3];
            post.description = item[4];
            post.positive_votes_count = item[5];
            post.negative_votes_count = item[6];
            post.overall_score = item[7];
            post.source_url = item[8];
            post.source_type = item[9];
            post.source_service = item[10];
            post.image = item[11];
            post.approved = item[12];
            post.created_at = item[13];
            post.updated_at = item[14];
            post.copyright = item[15];
            post.image_width = item[16];
            post.image_height = item[17];
            post.active = false;
            post.tags = [];

            for (var i = 0; i < data.tags.length; i++) {
              var tag = data.tags[i];

              if (tag.id === post.id) {
                post.tags.push(tag.name);
              }
            };

            CV.voicesContainer.preloadedVoices.push(post);
          });

          CV.voicesContainer.page = page;

          CV.voicesContainer.createVoiceWidgets(function() {
            
          });

          clearInterval(placeholderInterval);

          CV.voicesContainer.element.find('.placeholder').remove();

          CV.voicesContainer.filteredResults = CV.voicesContainer.children;

          CV.voicesContainer.enableNextPage(function(){
            CV.timeline.update();
            CV.voicesContainer.element.isotope('layout');  
          });

          
          

          CV.voicesContainer.checkURLToShowOverlay().checkVotedVoices();
        }
      });

      CV.mediaFeedSearch = new MediaFeedSearch({
        element : $('.filters-and-mode')
      });
    });
  </script>