<div class="tweets-sidebar" data-search="<%= CGI::escape( @voice.twitter_search ) %>">
  <div class="tweets-wrapper-list scroll-primary">

    <ul class="tweets-list">
    </ul>

    <div class="loader loader--dark">
      <span class="loader__inner">
        <span class="loader__image"></span>
      </span>
    </div>

  </div>
</div>
