.cv-tooltip.embeddable-widget-tooltip {
  width: 666px;
  right: 0;
  left: initial;
  transform: translateX(150px);
}
.cv-tooltip.embeddable-widget-tooltip .cv-tooltip__arrow {
  left: initial;
  right: 157px;
}

.cv-tooltip.embeddable-widget-tooltip .cv-tooltip-inner {
  padding: 0;
}

.blog-widget-title {
  font-size: 22px;
  line-height: 1;
  display: block;
  padding: .8em 1em;
  border-bottom: 1px solid #ccc;
}

.grab-blog-widget .info-wrapper {
  padding: 1em 2em 2.2em;
}

.grab-blog-widget .info,
.grab-blog-widget .preview {
  float: left;
  display: inline-block;
  vertical-align: top;
}

.cv-tooltip.embeddable-widget-tooltip .info {
  width: 282px;
  margin-right: 50px;
}

.grab-blog-widget .options-container {
  margin-bottom: 1.8em;
}

.blog-widget-subtitle {
  font-size: 15px;
  margin: 0 0 .5em;
}

.blog-widget-label {}
.options-container > p > .blog-widget-label {
  display: block;
  margin-bottom: .5em;
}
.blog-widget-label + .blog-widget-label {
  padding-left: 20px;
}

.cv-tooltip.embeddable-widget-tooltip .preview {
  width: 280px;
}

.cv-tooltip.embeddable-widget-tooltip .preview > .preview-placeholder {
  background: #d9d9d9;
  min-height: 310px;
  border-radius: 4px;
}
.preview > .preview-placeholder > iframe {
  display: block;
}

.cv-tooltip.embeddable-widget-tooltip .preview > p {
  font-size: 11px;
  margin: .8em 0 0;
  color: #a6a6a6;
}

.grab-blog-widget .code-output {
}

.grab-blog-widget .code-output .cv-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.grab-blog-widget .code-output .cv-button {
  position: relative;
  margin-top: -.3em;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

textarea.blog-widget-textarea {
  font-size: 10px;
  line-height: 14px;
  width: 100%;
  height: 96px;
  padding: 7px 11px;
  overflow: hidden;
  line-height: 15px;
  color: #a6a6a6;
}

