.post-media-tooltip-header {
  padding: 1em 1.5em;
  border-bottom: 1px solid #ccc;
}

.post-media-tooltip-header .tooltip-close-btn {
  font-size: 13px;
  line-height: 19px;
  text-decoration: underline;
  color: #a6a6a6;
}
.post-media-tooltip-header .tooltip-close-btn:hover {
  color: #b3b3b3;
}

.post-media-tooltip-header  .title {
  font-size: 20px;
  font-weight: 600;
}

.cv-tooltip .tooltip-label {
  font-size: 15px;
  color: #333;
  font-weight: 600;
  margin-bottom: .5em;
}

.cv-tooltip .light {
  color: #a6a6a6;
}

.post-media-tooltip-content label {
  display: block;
  margin: 0 0 1.5em;
}

/**
 * Image Type
 */
.default > .image-post-media-tooltip {
  width: 245px;
}

.image-post-media-tooltip {
  width: 415px;
  left: -30px;
}

.image-post-media-tooltip .cv-tooltip__arrow {
  left: 245px;
}

.image-post-media-tooltip .cv-tooltip-inner {
  padding: 0;
}

.image-post-media-tooltip .post-media-tooltip-content {
  padding: 1.5em 1.5em;
}

.image-post-media-tooltip textarea {
  height: 116px;
  padding: .7em 1em;
}

.image-post-media-tooltip .post-media-tooltip-footer {
  font-size: 13px;
  line-height: 19px;
  padding: 1.3em 1.5em 1.5em;
  border-top: 1px solid #ccc;
}

/**
 * Video Type
 */
.video-post-media-tooltip {
  width: 290px;
}

.video-post-media-tooltip .cv-tooltip-inner {
  font-size: 15px;
  line-height: 20px;
  padding: 1em 1.2em;
  font-weight: 600;
}

/**
 * Link Type
 */
.link-post-media-tooltip {
  width: 220px;
}

.link-post-media-tooltip .normal .cv-tooltip-inner {
  font-size: 15px;
  line-height: 20px;
  padding: 1em 1.2em;
  font-weight: 600;
}

.link-post-media-tooltip .carousel {
  display: none;
  width: 400px;
  margin-left: -180px !important;
}

.link-post-media-tooltip .carousel .tooltip-arrow {
  left: 72%;
}

.link-post-media-tooltip .carousel .cv-tooltip-inner {
  padding: 0;
}

.link-post-media-tooltip .post-media-tooltip-content {
  padding: 1.5em;
}

.carousel-image {
  display: inline-block;
  width: 160px;
  height: 120px;
  overflow: hidden;
  border: 1px solid #b3b3b3;
  border-radius: 3px;
  text-align: center;
  background-color: #f2f2f2;
}
.carousel-image img {
  position: relative;
  max-width: 158px;
  vertical-align: top;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-arrows {
  overflow: hidden;
  margin-bottom: 1.5em;
}
.carousel-arrows-inner {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
}

.carousel-arrows-inner > .carousel-arrow {
  width: 30px;
  height: 17px;
  display: block;
  vertical-align: top;
  float: left;
  cursor:pointer;
  background-color: #fafafa;
  border-bottom: 1px solid #cccccc;
  text-align: center;
}
.carousel-arrows-inner > .carousel-arrow:hover {
  background-color: #fff;
}
.carousel-arrows-inner > .carousel-arrow:active {
  background-color: #ededed;
}

.carousel-arrows-inner > .carousel-arrow > .arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  position: relative;
  top: -1px;
}
.carousel-arrows-inner > .left-arrow > .arrow {
  border-left-width: 0;
}
.carousel-arrows-inner > .right-arrow > .arrow {
  border-right-width: 0;
}

.carousel-arrows-inner > .left-arrow {
  border-right: 1px solid #b3b3b3;
  border-radius: 4px 0 0 4px;
}

.carousel-arrows-inner > .right-arrow {
  border-left: 1px solid #b3b3b3;
  border-radius: 0 4px 4px 0;
}

.carousel-arrows-inner > .carousel-counter {
  font-size: 12px;
  width: 98px;
  height: 17px;
  float: left;
  background-color: #ededed;
  color: #a6a6a6;
  text-align: center;
}

.link-post-media-tooltip .description-link {
  font-size:12px;
  margin:5px 0;
}

.link-post-media-tooltip textarea {
  height: 116px;
  padding: .7em 1em;
}

