.filters .tweets-label {
  padding-right: 0;
}

.tooltip-mediafeed-tweets {
  position: relative;
  display: inline-block;
  float: left;
  font-size: 13px;
  padding: 0 10px 0 5px;
}

.tooltip-hoverable-area {
  cursor: pointer;
  color: #a6a6a6;
}

.mediafeed-tweets-tooltip {
  width: 300px;
}
