.cv-tooltip.more-about-cv-tooltip {
  width: 150px;
  top: 100%;
}
.cv-tooltip.more-about-cv-tooltip .cv-tooltip__arrow {
  top: 19px;
}

.cv-tooltip.add-a-voice-tooltip {
  width: 170px;
}
.cv-tooltip.add-a-voice-tooltip {
  left: 6px;
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}
.cv-tooltip.add-a-voice-tooltip .cv-tooltip__arrow {
  left: 40px;
}
.add-a-voice-tooltip .pencil {
  width: 29px;
  height: 26px;
  margin-top: 7px;
  background: url('/images/pencil.png') no-repeat;
}

.cv-tooltip.voice-description-tooltip {
  width: 635px;
  color: #404040;
}
.cv-tooltip.voice-description-tooltip .cv-tooltip-inner {
  font-size: 14px;
  line-height: 25px;
  padding: 1.5em 2.2em;
}

.public-mode-tooltip {
  font-weight: bold;
}

.moderator-mode-tooltip {
  width: 233px;
  left: initial;
  right: 0;
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
.moderator-mode-tooltip .cv-tooltip__arrow {
  left: initial;
  right: 38px;
}
.moderator-mode-tooltip .cv-tooltip-inner {
  padding: 1em;
}
.moderator-mode-tooltip .title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: .5em;
}
.moderator-mode-tooltip .description {
  color: #a6a6a6;
}
