.notification-bar {
  margin-bottom: 28px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.home-voices-layout .notification-bar {
  margin-bottom: 0;
}
.notification-bar.is-empty {
  margin-bottom: 0;
}

.notification-bar .close-message {
  width: 17px;
  height: 17px;
  display: block;
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 17px;
  line-height: 18px;
}

.notification {
  position: relative;
  border-top-width: 1px;
  z-index: 1;
  margin-top: -1px;
}
.notification .description {
  font-size: 14px;
  padding: 12px 30px 12px 20px;
}
.notification .description p {margin-left: 27px}
.notification .close-message {
  top: 11px;
}
.notification .close-message:hover {
  opacity: 0.8;
}
.notification .circle {
  display: block;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 25px;
  height: 25px;
}

.notification-bar__cv-by {
  position: relative;
  padding: 30px;
  line-height: 24px;
}
.notification-bar__cv-by::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
}

.notification-bar__title {
  font-size: 18px;
  line-height: inherit;
  margin-bottom: 10px;
  font-weight: bold;
}

.notification-bar__cta {
  font-size: 12px;
  padding: 2px 15px;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
}
