.voice-box > .voice-cont > a {
  display: block;
  position: relative;
  overflow: hidden;
}

.voice-box.link > .voice-cont > a {
  padding: .5em .5em 0;
}

.voice-box.video .source-url:before,
.voice-box.image .source-url:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.8));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.voice-content-type-wrapper {
  font-size: 12px;
  margin-top: 1em;
  padding: 0 0 0 1em;
}

.voice-box a > .voice-content-type-wrapper {
  position: absolute;
  bottom: 0;
  padding: 0 0 .4em 1em;
}

.voice-box.video .source-url .icon-play {
  font-size: 47px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  color: rgba(255, 255, 255, 0.65);
  text-shadow: 0 0 15px rgba(0,0,0,0.6);
}

.initial-state .voice-box { visibility: hidden;}
.voices-container > .voice-box {
  width: 180px;
  margin:0 0 15px 0;
  z-index: 2;
}
.voices-container > .voice-box:hover {z-index: 3}
.voice-box:hover > .voice-action {z-index: 1}
.voice-box > .voice-cont {
  padding: 0 0 14px 0;
  position:relative;
  z-index:1;
}
.voice-cont.unmoderated {z-index:0}

.voice-cont > a > .magnifier {position: absolute; width:42px; height:42px; margin-left:69px; display: none}
.voice-cont > a:hover > .magnifier {display: block}
.voice-cont > a > .video {position: absolute; width:42px; height:42px; margin-left:69px; display: none}
.voice-cont > a:hover > .video {display: block}
.voice-cont .thumb-preview {
  margin: auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
.voice-box > .voice-cont > h3 {
  font-size: 16px;
  line-height: 1.222em;
  margin: 7px 14px 0 14px;
  overflow:hidden;
}
.voice-box > .voice-cont > p {
  font-size: 13px;
  padding: 10px 14px 0;
  line-height: 1.5;
  overflow:hidden;
}

.voice-box.unmoderated .voice-action {
  display: none;
}
.voice-box > .voice-unmoderated {
  border-width: 1px 0 0 0;
}
.voice-box > .voice-unmoderated > ul {
}
.voice-unmoderated > ul > li {
  position: relative;
  float: left;
  width: 50%;
  border-right-width: 1px;
}

.voice-unmoderated > ul > li:last-child {
  border-right-width: 0;
}

.voice-box > .voice-unmoderated > ul > li > a {
  display: block;
}

.voice-unmoderated .flag-div a {
  font-size: 11px;
  padding: .25em 0;
}

.voice-unmoderated .text {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}

.voice-unmoderated > ul > li.down_hover {
  width: 100%;
}

.down_hover .text:after {
  content: '(vote already cast)';
  font-size: 10px;
  padding: 0 0 0 .5em;
  vertical-align: top;
}

.voice-cont .post-icon-type {
  float: left;
  font-size: 16px;
  display: block;
  margin-right: 7px;
}

.voice-box > .voice-action {
  border-width: 1px 0 0 0;
  clear: both;
  padding: 10px 13px 7px 11px;
  position:relative;
  z-index:1;
}
.voice-action > .actions {
  float: left;
}
.voice-action > .actions > li {
  float: left;
  margin-right: 1px;
}
.voice-action > .actions > li > a {
  display: block;
  width: 20px;
}
.voice-action > .actions > li > a > .icon {
  font-size: 13px;
}

.voice-action .flag-div {
  float: right;
  margin-right: 0;
  width: 20px;
}

.voice-action .flag-div > a:hover + .tooltip {
  display: block;
}

.voice-action .flag-over {float: right}

.close-voice-box {
  width: 28px;
  height: 21px;
  position: absolute;
  top: .5em;
  right: 0;
  z-index:4;
}
