.initial-state .voice-box { visibility: hidden;}
.voices-container > .voice-box {width: 190px; margin:0 0 15px 0; z-index: 2}
.voices-container > .voice-box:hover {z-index: 3}
.voice-box:hover > .voice-action {z-index: 1}
.voice-box > .voice-cont {padding: 10px; position:relative; z-index:1}
.voice-cont.unmoderated {z-index:0}

.voice-cont > a > .magnifier {position: absolute; width:42px; height:42px; margin-left:69px; display: none}
.voice-cont > a:hover > .magnifier {display: block}
.voice-cont > a > .video {position: absolute; width:42px; height:42px; margin-left:69px; display: none}
.voice-cont > a:hover > .video {display: block}
.voice-cont .thumb-preview {margin: auto; display: block; width: auto; height: auto; max-width: 170px}
.voice-box > .voice-cont > h3 {font-size: 13px; line-height: 1.5; margin-top: 7px; width:160px; overflow:hidden}
.voice-box > .voice-cont > span {font-size: 11px; font-weight: normal; margin-left: 0 !important; margin-top: 0 !important; padding-left: 0}
.voice-box > .voice-cont > p {font-size: 13px; padding-top: 15px; line-height: 1.5; width:160px; overflow:hidden}
.voice-box > .voice-unmoderated {border-width: 1px 0 0 0; padding: 4px 10px}
.voice-box > .voice-unmoderated > span {font-size: 12px; float:left; margin-top:5px}
.voice-box > .voice-unmoderated > ul {height:23px; float:right; border-width: 1px}
.voice-box > .voice-unmoderated > ul > li {float: left; width: 22px; height:21px}
.voice-box > .voice-unmoderated > ul > li > span { width: 22px; height:17px; display:block}
.voice-box > .voice-unmoderated > ul > .up {border-width: 2px 1px 2px 2px}
.voice-box > .voice-unmoderated > ul > .down {border-width: 2px 2px 2px 1px}

.voice-action > .post-icon-type {width:22px; height:22px; float:left; display:block; margin-right:6px}
.voice-action > .comments {float: left; margin-top: 5px; cursor: pointer; height:16px}
.voice-action > .comments > li {font-size: 12px; font-weight: bold; height: 17px; width: 30px; line-height: 19px;  padding-left: 20px}
.voice-box > .voice-action {border-width: 1px 0 0 0; clear: both; padding: 4px 10px 5px 6px; position:relative; z-index:1}
.voice-action > .actions {float: right}
.voice-action > .actions > li {float:left; margin-right: 5px}
.voice-action > .actions > li > a {display:block; width: 25px; height: 25px}
.voice-action > .actions > .flag-div {width: 31px; margin-right: 0}
.voice-action > .actions > li > .flag {float: right}
.voice-action > .actions > li > .flag-pressed {float: right; width: 23px;}
.voice-action > .actions > li > .flag-over {float: right}
.close-voice-box {width: 28px; height: 21px; float: right; display: block; position: relative; margin: 4px -3px -18px; z-index:4}
