/* Overlay Styles */

.vide-overlay-container {display:none; position: absolute;}
.overlay-container > .arrows {float: left; margin-left: -2px; z-index: 15; position: relative; width: 31px}
.arrows > .voice-arrow {width: 31px; height: 64px; display: block}
.arrows > .tooltip-arrow {position: absolute; margin-top:-70px}
.arrows > .tooltip-arrow > img {border-width: 8px; min-height: 60px}
.arrows > .tooltip-arrow > .over-arrow {width: 12px; height: 10px; margin-top: -3px; margin-left: 55px}
.arrows > .tooltip-arrow > .right-tip-arrow {width: 12px; height: 10px; margin-top: -3px; margin-left: 15px !important}
.arrows > .tooltip-arrow.left {left: -67px}
.arrows > .tooltip-arrow.right {right: -69px}
.vide-overlay-container .video-container {border-width: 1px; float: left; position: relative; z-index: 20; padding:15px}
.voice-container {border-width: 1px; float: left; position: relative; z-index: 20}
.voice-container > .voice-over-info {padding: 0; width: auto; /*min-width:310px*/}
.voice-container > .voice-over-info > div {text-align: center;}
.voice-over-info > h2 {width: 75%; font-size: 18px; float: left; margin:14px 0; padding-left: 20px;}
.voice-over-info > .external-link {float: left}
.voice-over-info > .external-link > li {float: left; border-width: 1px; margin-left: 10px}
.voice-over-info > .external-link > li > a {display: block; font-size: 13px; padding: 4px 12px; border-width: 1px; float: left}
.voice-over-info > ul {font-size: 18px; float: right}
.vide-overlay-container .close-voice-container {margin: -30px}
.close-voice-container {width: 33px; height: 33px; float: right; display: block; position: relative; margin: -19px}
.voice-container > .voice-coment-zone {clear: both; height: 173px; border-width: 1px 0px}
.voice-coment-zone > .show-comment-arrow {height: 7px; width: 16px; float:right; margin: -7px 33px 0 0; display:none}
.fbc-container-box {height:173px; overflow:auto; overflow-x:hidden}
.voice-container > .share-voice-container {clear: both; overflow: hidden; padding: 6px 10px 6px 15px}
.voice-container > .share-voice-container > p {font-size: 11px; float: left; margin-top: 7px}
.share-voice-container > .actions {float: right}
.share-voice-container > .actions > li {float:left; margin-right: 5px}
.share-voice-container > .actions > li > a {display:block; width: 25px; height: 25px}
.share-voice-container > .actions > .flag-div {width: 31px; margin-right: 0}
.share-voice-container > .actions > li > .flag {float: right}
.voice-over-info > .comments {float: right; margin: 15px 0}
.voice-over-info > .comments > li {font-size: 12px; font-weight: bold; height: 16px; width: 30px; line-height: 19px;  padding-left: 20px}

/*
.link-base-container > .back-to-voice {
  position:relative;
  width:160px;
  height:30px;
  margin:0px auto -4px;
  z-index: 4;
  padding-top: 1px;
}
.link-base-container > .back-to-voice > span {
  font-size: 13px;
  padding-left: 10px;
  display: block;
  padding-top:13px;
}
.back-to-voice > ul {
  overflow:hidden;
  width:50px;
  margin: 0 auto;
}
.back-to-voice > ul > li {display:block; float:left; height:40px}
.back-to-voice > ul > .prev {border-width:0 1px 0 0; float:left}
.back-to-voice > ul > .next {border-width:0 0 0 1px; float:right}
.back-to-voice > ul > li > a {width:14px; height:19px; display:block; cursor:pointer; margin-top:10px}
.back-to-voice > ul > li > .prev {margin-right: 10px}
.back-to-voice > ul > li > .next {margin-left: 10px}

.touch .copy-url {
  display: none;
}

@media all and (max-width: 500px) {
  .overlay-container > .arrows {
    display: none;
  }
  .close-voice-container {
    position: fixed;
    top: 25px;
    right: 25px;
  }
  .overlay-container > .voice-container {
    float: none;
    width: 100%!important;
    position: relative;
    max-width: 100%;
    height: 100%;
  }
  .overlay-container > .voice-container .voice-over-info img {
    max-width: 100%;
  }
  .voice-over-info > h2 {
    width: 100%;
    padding: 0 10px;
  }
  .link-base-border > .link-base-action > ul > li > a {
    font-size: 11px;
    padding: 2px 6px;
  }
  .link-base-action > .right-action > span {
    display: none;
  }
}

@media all and (max-width: 400px) {
  .link-base-border > .link-base-action > ul > li.copy-url {
    display: none;
  }
}
  */
