/*
	Default styles
*/
.main-header {
  border-bottom-width: 1px;
  display: inline-block;
  position: relative;
  width: 100%;
}
	.voice-info {
		border-bottom-width: 1px;
    padding-top: 0;
    position: relative;
		width: 100%;
	}

  .voice-info:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  	.nav-bar {
  	  height: 35px;
  	  width: 100%;
      position: relative;
  	}
      .top-left-navigation {
        float: left;
        padding: .5em 0 0 2em;
      }
        .menu-item {
          display: inline-block;
          margin: 0 4px -1px;
          padding: 0;
          position: relative;
          top: 0;
        }
          .menu-item .menu-link {
            float: left;
            padding: .7em 1em .5em;
            border-bottom-width: 2px;
            max-height: 28px;
          }
            .menu-item .menu-link > .icon {
              font-size: 13px;
              line-height: 14px;
              vertical-align: middle;
            }
          .menu-item .menu-link .text {
            display: inline-block;
            vertical-align: middle;
            padding-left: .2em;
          }
      .top-right {
        left: auto;
        position: absolute;
        right: 0;
        margin: 5px 5px 5px 0;
      }
      .hgroup-theme-image {
        border-bottom-width: 1px;
        position: absolute;
        top: 0;
        width: 100%;
      }
        .theme-image {
          height: 3px;
          width: 100%;
        }
        .theme-image > .top-line.gaza,
        .theme-image > .top-line {
          border-width: 0;
          height: 3px;
        }

    .voice-title {
      display: inline-block;
      position: relative;
      font-size: 20px;
      line-height: 32px;
      padding: .8em .25em .5em 1.7em;
    }

    .description-wrapper {
      position: relative;
      display: inline-block;
    }

  .post-and-actions {
		height: 48px;
		padding-top: 1em;
		position: relative;
		width: 100%;
	}
    .post-width {
      left: 28px;
      position: absolute;
      right: 97px;
      width: auto;
    }
      .new-post {
        height: 35px;
        width: 100%;
      }
      .post {
        float: left;
        height: 35px;
        position: relative;
        width: 100%;
      }
        .post > input[type="text"]{
          min-width: 224px;
          height: 35px;
        }
        .post > .post-button {
          border-width: 1px;
          position:absolute;
          left: auto;
          right: -84px;
        }
          .post > .post-button > input[type='submit'] {
            font-size: 18px;
            padding:0 18px;
            width: 85px;
            height: 35px;
          }
          .post > .post-button .cv-tooltip.notice {
            width: 200px;
            right: 0;
            left: initial;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
          }
          .post > .post-button .cv-tooltip.notice .cv-tooltip__arrow {
            left: initial;
            right: 35px;
          }
        .post > .post-paceholder, .empty-msg {
          font-size: 15px;
          left: 11px;
          line-height: 1em;
          top: 9px;
          position: absolute;
        }
        .post > .post-paceholder > span {
          position: relative;
          z-index: 4;
        }
        .post > .post-paceholder > .cover {
          height:20px;
          position: absolute;
          width:30px;
          z-index: 4;
        }
        .post > .post-paceholder > input[type=file] {
          margin-left: -30px;
          position: absolute;
          z-index: 2;
          width: 120px;
        }
        .post > .post-type {
          position: absolute;
          right: 0;
          top: 5px;
          height: 29px;
          padding: 5px 0 0 20px;
          background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0, #ffffff 12px);
          background-image: linear-gradient(to right, rgba(255,255,255,0) 0, #ffffff 12px);
        }
        .post-type > .media {
          float: left;
          margin-right: 1em;
          position: relative;
        }
          .post-type > .media > .media-type {
            display: block;
          }

          .media-type .icon {
            font-size: 16px;
            vertical-align: top;
            display: inline-block;
            color: #ccc;
          }

        .post-type > .media > .cv-tooltip {
          color: #333;
        }

        .media-type-info  {
          position: relative;
          border-width: 1px;
          padding: 15px 11px;
        }
        .media-type-title {
          font-size: 15px;
          display: block;
          padding: 0 7px;
          width: 233px;
          line-height: 22px;
        }
        .media-type-subtitle {
          font-size: 12px;
          display: block;
          line-height: 1.3em;
          margin-top: 9px;
          border-top-width: 1px;
          padding: 13px 7px 0;
        }
        .media-type-link {
          font-size: 13px;
          display: block;
          line-height: 1;
          padding: 6px 7px 0;
        }
        .post-button > .tooltip > .tooltip-positioner {
          position: relative;
          top: 0;
          left: -50%;
        }
        .filters-and-mode .tooltip-arrow,
        .post-button > .tooltip > .tooltip-positioner > .tooltip-arrow {
          position: absolute;
          width: 16px;
          height: 12px;
          top: 0;
          left: 50%;
          z-index: 40;
        }
        .post-button > .tooltip > .tooltip-positioner > .tooltip-arrow > span {
            position: relative;
            width: 16px;
            height: 12px;
            top: 0;
            left: -50%;
            display: block;
          }
          .post-button > .tooltip > .tooltip-positioner > .media-type-info {
            position: relative;
            top: 10px;
            left: -65px;
            width:185px;
            border-width: 2px;
            padding: 15px 11px;
            z-index: 30;
          }
          .post-button > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {
            font-size: 15px;
            display: block;
            padding: 0 7px;
            width: 233px;
            line-height: 22px;
          }
          .post-button > .tooltip > .tooltip-positioner > .media-type-info > p {
            font-size: 15px;
            display: block;
            padding: 0 7px;
            font-weight: bold;
            line-height: 22px;
          }
        .tool-link .media-type-info {
          left: -9px;
          width: 204px;
        }
  .filters-and-mode {
		float: left;
		padding-bottom: 10px;
		padding-left: 28px;
		padding-top: 10px;
		width: 100%;
	}
    .form-right {
      float: right !important;
      margin-right:12px;
    }
    .filters-and-mode > form,
    .filters,
    .mode,
    .filters > p,
    .filters > label,
    .mode > p,
    .mode > ul,
    .mode > ul > .mode-button {
      float: left;
    }
    .mode-button {
      position:relative;
      overflow: hidden;
    }
    .filters-and-mode .mode-button {
      overflow: visible;
    }
    .filters-and-mode .mode-button.selected:hover .cv-tooltip {
      display: none;
    }
    .info-tags__tooltip .mode-button .dismiss-tooltip {
      display: none;
    }
    .info-tags__tooltip .voice-tags li {
      padding: 0;
    }
    .info-tags__tooltip .voice-tags label {
      cursor: pointer;
      display: block;
      padding: 3px 0;
    }
    .filters,
    .mode {
      font-size: 14px;
    }
    .filters > p {
      padding-right: 6px;
      font-size: 12px;
      margin-top: -1px;
    }

    .filters > p,
    .filters > label {
      padding-top: 1px;
    }

    .filters .search-input-wrapper {
      position: relative;
      float: left;
      margin-left: 5px;
    }
    .filters .search-input-wrapper i {
      position: absolute;
      top: 6px;
      left: 10px;
    }
    .filters .search-input-wrapper .cv-input {
      padding: 0 5.8em 0 2.3em;
      width: 236px;
    }

    .search-input-wrapper .results-feedback {
      position: absolute;
      top: .3em;
      right: 2.5em;
      font-size: 10px;
      color: #a6a6a6;
      padding: 0 0 0 1em;
    }

    .search-input-wrapper .results-feedback em {
      font-style: normal;
    }

    .search-input-wrapper .search-clear {
      position: absolute;
      top: 0;
      right: 0;
      padding: .15em .7em .5em .3em;
      cursor: pointer;
      color: #a6a6a6;
    }

    .mode > p {
      font-size: 12px;
      padding: 1px 10px 0 0;
    }
    .filters > label {
      padding-right: 10px;
      font-size: 12px;
    }
    .filters > label > input[type='checkbox'] {
      margin-right: 4px;
    }
    .mode-button:first-child {
      border-width: 1px 0 1px 1px;
    }
    .mode-button:first-child + .mode-button {
      border-width: 1px 1px 1px 0;
    }
    .mode-button:first-child > .button {
      border-width: 1px 0 1px 1px;
      float: left;
      padding: 2px;
    }
    .mode-button:first-child + .mode-button > .button {
      float: left;
      padding: 2px;
    }
    .mode-button > .button > a {
      padding: 2px 10px 1px;
      font-size: 11px;
      line-height: 11px;
      float: left;
    }
    .mode-button.selected:first-child > .button {
      border-width: 1px;
      padding: 0;
    }
    .mode-button.selected:first-child > .button > a {
      border-width: 1px;
      padding: 4px 10px 3px 11px;
    }
    .mode-button:first-child + .mode-button.selected > .button {
      border-width: 1px;
      padding: 0;
    }
    .mode-button:first-child + .mode-button.selected > .button > a {
      border-width: 1px;
      padding: 4px 11px 3px 10px;
    }

.js-voice-map {
  margin: 0;
  padding: 0;
  height: 100%;
}
  .js-voice-map .loader {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -28px;
  }

/*
  < 768
*/
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
  .top-left-navigation {
    padding-left: 54px;
  }
  .backstory-menu-item,
  .info-tool.maps,
  .info-tool.widget,
  .info-tool.rss,
  .post-and-actions,
  .filters-and-mode .form-right {
    display: none;
  }
  .voices-scroller {
    width: 100% !important;
  }
}
/*
  < 460
*/
@media only screen and (max-width: 460px), only screen and (max-device-width: 460px) {
  .voice-info {
    margin: 0;
    padding: 15px 10px 15px 28px;
    margin-top: 35px;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
  }
  .top-left-navigation {
    left: 50%;
    margin-left: -90px;
    padding: 0;
    position: relative;
    width: 180px;
    cursor: pointer;
  }
  .top-left-navigation .menu-item {
    display: none;
    text-align: center;
    position: static;
  }
  .top-left-navigation .menu-item.active {
    pointer-events: none;
  }
  .top-left-navigation.active .menu-item:not(.active) {
    pointer-events: auto;
  }
  .top-left-navigation .menu-item.active {
    display: inline-block;
    margin: 0;
    width: 100%;
  }
  .menu-item .menu-link {
    padding: 12px 0 11px;
    width: 100%;
  }
  /* for toggle behavior */
  .top-left-navigation.active {
    height: 70px;
    left: 0;
    line-height: 12px;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  .top-left-navigation.active .menu-item:not(.backstory-menu-item) {
    display: inline-block;
    margin: 0;
    width: 100%;
    float: left;
  }
  .top-left-navigation.active .menu-item.active:after {
    content: attr(name);
    height: 23px;
    left: 0;
    right: 0;
    padding-top: 12px;
    position: fixed;
    top:0;
  }
  .menu-item.active .menu-link:after {
    display: block;
  }
  .top-right {
    cursor: pointer;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding-top: 31px;
    width: 45px;
    z-index: 3;
  }
  .top-right.active {
    overflow: visible;
  }
  .top-right .info-tool {
    float: none;
    width: 110px;
    padding: 10px;
    text-align: center;
    margin: 0 0 0 -65px;
  }
  .top-right .info-tool iframe {
    width: 85px !important;
  }
  .voice-title {
    max-width: 240px;
    float: none;
    display: inline;
    padding: 0;
  }
  .filters-and-mode {
    bottom: 0;
    position: fixed;
    top: auto;
    padding: 7px 5px 5px 5px;
    height: 39px;
    z-index: 2;
  }
  .cv-tooltip.info-tags__tooltip {
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 36px;
    z-index: 999999;
  }
  .info-tags__tooltip .voice-tags {
    bottom: 40px;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
  }
  .info-tags__tooltip .voice-tags li {
    font-size: 14px;
  }
  .info-tags__tooltip .voice-tags label {
    padding: 13px 0;
  }
  .info-tags__tooltip .voice-tags input {
    margin: 0 10px 0 13px;
  }
  .info-tags__tooltip .mode-button {
    bottom: 0;
    position: absolute;
    text-align: center;
    top: auto;
    width: 100%;
  }
  .info-tags__tooltip.tooltip .mode-button .button {
    display: inline-block;
    float: none;
    width: 40%;
  }
  .info-tags__tooltip .mode-button .dismiss-tooltip {
    display: inline-block;
  }
  .info-tags__tooltip .mode-button > .button > a {
    float: none;
    line-height: 20px;
  }
  .filters-and-mode {
    margin: 0;
  }
  .filters-and-mode .filters {
    padding: 0;
    position: absolute;
    left: 60px;
    right: 5px;
  }
  .filters-and-mode .filters p {
    display: none;
  }
  .filters-and-mode .filters label {
    display: inline-block;
    float: left;
    margin: 0;
    line-height: 1.15em;
    padding: 6px 5px 4px;
    position: relative;
    text-align: center;
    width: auto;
  }
  .filters > label > input[type="checkbox"] {
    margin-right: 7px;
  }
  .filters-and-mode .filters .tweets-label {
    float: right;
  }
}
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px) {
  .filters-and-mode .tags-container {
    height: auto;
    padding: 0;
    margin: 0;
  }
  .filters-and-mode .tags-container .tag-tooltip-trigger{
    line-height: 2em;
  }
  .filters-and-mode .filters label {
    font-size: 11px;
    max-width: 27%;
    max-height: 24px;
    padding: 2px;
    line-height: 1.8em;
  }
  .filters > label > input[type="checkbox"] {
    height: 12px;
    margin-right: 3px;
    margin-top: 2px;
    float: left;
  }
}
