<% if @scope_this %>
  <div class="voice-footer">
    <% link_to @voice, :title => "See More", :class => "", :target => "_top" do %>
      See More <span></span>
    <% end %>
  </div>
<% else %>
  <div class="voice-footer">
    <% link_to root_url, :title => "More Topics", :class => "", :target => "_top" do %>
      See More Topics <span></span>
    <% end %>
  </div>
<% end %>
