<% if @count == 0  %>
		  <p>There is no new content for the voice as of today. Help us in <%= link_to "posting more", voice_url(@voice) %> content!</p>
<% else %>
	<p>There are <%= @count.to_s %> new posts in <%= @voice.title %> voice. Help us in <%= link_to "posting more", voice_url(@voice) %> content!</p>
<% end %>