<!DOCTYPE html>
<html>
  <head>
    <title>CrowdVoice</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <body>
    <script type="text/javascript">
      window.location = "<%= params[:url] %>";
    </script>
  </body>
</html>
